/*
 * Page: Login & Register
 * ----------------------
 */
.login-page {
	main {
		margin-bottom: 0;
	}
	.login-bg {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: @blue;
		z-index: 0;
	}
	#footer {
		position: relative;
		border-top: 1px solid lighten(#0d5870, 20%);
		p {
			color: #0d5870;
	 }
	}
	.btn-facebook {
		padding: 10px 12px 10px 60px;
		text-align: center;
		i {
			line-height: 42px;
			width: 60px;
		}
	}
}
.login-logo,
.register-logo {
	width: 225px;
	margin: 0 auto 20px;
	position: relative;
	a {
		color: #444;
	}
}

.login-box,
.register-box {
	width: 420px;
	padding: 15px;
	margin: 0 auto 30px;
	padding-top: 20px;
	position: relative;
	@media (max-width: @screen-sm) {
		width: 90%;
		margin-top: 20px;
	}
}

.login-email-mgs {
	color: @white;
	position: relative;
	margin: 20px 0;
	&:before, &:after {
		content: '';
    width: 75px;
    height: 1px;
    background: white;
    position: absolute;
    top: 10px;
    left: 0;
	}
	&:after {
		left: auto;
		right: 0;
	}
	.text-bold {
		font-size: 16px;
		font-weight: bold;
	}
	.text-normal {
		line-height: 25px;
	}
}
.login-box-body,
.register-box-body {
	background: @blue;
	padding: 20px;
	border-top: 0;
	color: #666;
	.form-control-feedback {
		color: #777;
	}
}

.login-box-msg,
.register-box-msg {
	color: @white;
	font-size: 19px;
	font-weight: lighter;
	margin: 0 0 25px;
	padding: 0;
}

.social-auth-links {
	margin: 10px 0;
}

.icheck {
	margin-top: 15px;
	margin-bottom: 15px;
	font-size: 13px;
	input[type="checkbox"]{
		margin-left: -15px;
		margin-top: 2px;
	}
	label {
		color: @white;
	}
	span {
		margin-left: 5px;
	}
}
.forget-pass-mgs {
	position: relative;
	color: #4355a5;
	margin-left: 20px;
	padding-left: 12px;	
	&:before {
		position: absolute;
		left: 0;
		top: 6px;
		content: '';
		width: 5px;
		height: 5px;
		background-color: @blackblue;
	}
}
.signup-link {
	position: relative;
	color: @blackblue;
	&:before {
		position: absolute;
		left: 0;
		bottom: -1px;
		content: '';
		width: 100%;
		height: 1px;
		background-color: lighten(@blackblue, 20%);
	}
	&:hover {
		&:before {
			background-color: transparent;
		}
	}
}
.btn-login {
	width: 100%;
	margin-top: 10px;
}
.no-account {
	margin-top: 30px;
	text-align: center;
	color: @white;
	font-size: 13px;
}
.login-group {
	background-color: @white;
	padding: 5px 15px;
	border-radius: @box-border-radius;
	.input-group {
		width: 100%;
		border-bottom: 1px solid @light-gray;
		&:last-child {
			border-bottom: 0;
		}
		.domain-span {
			font-style: italic;
			font-size: 12px;
			text-align: right;
			padding: 0;
		}
	}
	.input-group-addon {
		border: 0;
		width: 24px;
		color: @light-gray;
		text-align: left;
		padding: 6px 0;
		font-size: 24px;
		    padding-right: 12px;
		i {
			width: 27px;
			height: 22px;
			&:before {
				content: '';
			}
			&.fa-envelope {
				background: url('../images/icon/store-icon.png') bottom no-repeat;
				background-size: 100% auto;
			}
			&.fa-envelope-o {
				background: url('../images/icon/email-icon.png') bottom no-repeat;
			}
			&.fa-lock {
				background: url('../images/icon/pass-icon.png') bottom no-repeat;
				background-size: auto 100%;
			}
		}
	}
	.form-control {
		height: 55px;
		border: 0;
		color: @light-gray;
		padding-left: 0;
		padding-right: 0;
		&:-moz-placeholder {
      color: @light-gray;
      font-style: italic;

    }
    &::-moz-placeholder {
      color: @light-gray;
      font-style: italic;
    }
    &:-ms-input-placeholder {
      color: @light-gray;
      font-style: italic;
    }
    &::-webkit-input-placeholder {
      ccolor: @light-gray;
      font-style: italic;

    }
	}
}
.login-f-v {
	position: absolute;
	top: 0px;
	height: 55px;
	left: 100%;
	margin-left: 15px;
	width: 100%;
	background-color: lighten( @yellow, 30%);
	color: @gray-text;
	font-weight: normal;
	font-size: 12px;
	padding: 20px;
	border-radius:  @box-border-radius;
	i {
		color: @yellow;
		margin-right: 5px;
		font-size: 18px;
	}
	&:before {
		content: '';
		width: 16px;
    height: 16px;
    background-color: lighten( @yellow, 30%);
    position: absolute;
    border-bottom: 0;
    left: -8px;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
	}
	span {
		height: 55px;
	}
}
.rule-mgs {
	a {	
		color: @blackblue;
	}
	span {
		color: @white;
	}
}
.back-btn {
	margin-top: 30px;
	color: @white;
	font-size: 13px;
	i {
		margin-right: 5px;
	}
}
.lg-select {
	width: auto !important; 
	font-style: italic;
	color: #999 !important;
}
#step-2-f {
	display: none;
}