/*
 * Component: Progress Bar
 * -----------------------
 */
.progress-row-content {
  height: 50px;
  margin: 0 auto;
  padding: 13px 0;
  text-align: center;
  > * {
    display: inline;
    vertical-align: middle;
  }
  .next-icon {
    font-size: 40px;
  }
}
.progress-step-title {
  padding: 5px 15px 15px;
  margin-bottom: 0;
  color: @gray-text;
  .label-default {
    margin-right: 5px;
    font-size: 100%;
  }
  &.active {
    color: #ff5722;
    font-weight: bold;
    .label-default {
        background-color: #ff5722;
        color: #fff;
      }
  }
}
