.promotion-form {
	width: 100%;
	min-height: 355px;
	padding: 15px;
	float: left;
	background-color: @white;
	display: none;
	.rp-arrow {
		top: auto;
		bottom: -30px;
		left: 30px;
	}
}
.promotion-form-body {
	width: 100%;
	margin-top: 10px;
	float: left;
	padding: 15px 30px;
	background-color: #ebebeb;
  border-radius: 3px;
}
.promotion-form-footer {
	width: 100%;
	float: left;
	margin: 20px 0 0;
}
.list-group-noline.promotion-group {
	>li {
		width: 100%;
		float: left;
		&:before {
			top: 15px;
		}
	}
	.control-label {
    color: @black;
    padding: 7px 0 0 0;
    font-size: 13px;
	}
	.date-label {
		padding-top: 7px;
	}
	.date-div {
		padding-left: 0;
	}
	.gray-label {
		padding: 7px 0 0 0;
    font-size: 13px;
	}
}
.promotion-note {
	font-style: italic;
	margin-top: 10px;
}
.p-control-left {
	padding-right: 0;
}
.p-control-right {
	padding-left: 5px;
}
.p-coupon-control {
	padding-left: 5px;
	padding-right: 5px;
	color: @lime;
	border-color: @lime;
}
.promotion-option-control:checked ~ .rp-arrow {
  display: block;
}
.promotion-option-form {
	display: none;
}
.promotion-form-selected {
	display: block;
}
.promotion-radio-btn {
	width: 100%;
	padding: 10px;
	padding-left: 30px !important;
	border: @box-border;
	border-radius: @box-border-radius;
	input[type="radio"] {
		margin-left: -20px;
	}
	&.active {
		border: 2px solid @lime;
	}
}
.promotion-radio-label {
	padding: 0 10px;
	padding-left: 30px;
	input[type="radio"] {
		margin-left: -20px;
	}
	&.active {
		color: @lime;
		.yellow-highlight {
			color: @lime;
		}
	}
}