.report-form {
	width: 100%;
	min-height: 355px;
	background-color: @gray-bg;
	.border-radius(3px);
  display: none;
}
.report-form-selected {
  display: block;
}
.report-title {
  width: 100%;
  display: block;
  padding: 15px 20px;
  margin: 0;
  border-bottom: 1px solid #fff;
  font-size: 17px;
}
.report-form-inner {
  width: 100%;
  padding: 20px;
}
.rp-arrow {
  display: none;
  width: 20px;
  height: 20px;
  background-color: @gray-bg;
  position: absolute;
  border-bottom: 0;
  left: 50%;
  margin-left: -5px;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.report-form-control:checked ~ .rp-arrow {
  display: block;
}
.report-container .radio > label{
  position: relative;
}