.chanel-account-col {
	.widget-user {
		.widget-user-header {
			height: auto;
			border-radius: @box-border-radius;
			padding-top: 20px;
		}
	}
	.user-name-block {
		&:after {
			content: none;
		}
	}
	.chanel-account-control-div {
		width: 100%;
		text-align: center;
		padding: 20px 40px;
	}
	.chanel-account-control {
		color: @white;
	}
}
