.setting-shipping-cost {
	
	.box {
		background: @gray-bg;
	}
}
.shipping-setting {
	.box {
		background-color: rgba(255, 255, 255, 0.6);
		.box-header {
			.box-title {
				color: @blue;
				font-weight: normal;
			}
		}
		.box-footer {
			background-color: transparent;
		}
	}
	.view-more {
		color: @lime;
		font-style: italic;
		&:hover {
			color: @gray-text;
		}
	}
}
.col-shipping-add {
	.radio-shipping {
		float: left;
		margin-top: 0;
		padding-right: 15px;
		display: inline-block;
	}
	.img-shipping-thumb {
		width: 150px;
		overflow: hidden;
		display: inline-block;
		position: relative;
		height: 75px;
		border: @box-border;
		img {
			position: absolute;
		    top: -100%;
		    left: -100%;
		    right: -100%;
		    bottom: -100%;
		    margin: auto;
		    width: auto;
		    height: auto;
		}
	}
}
.shipping-form-control {
	width: 120px;
	display: inline-block;
}
.shipping-check-area {
	margin-left: -30px;
}
.setting-shipping-div {
	margin-top: 20px;
}
.setting-shipping-title {
	width: 100%;

}
.ship-label {
  text-align: left;
  padding: 7px 0 0;
}
.setting-shipping-table {
	thead {
		tr {
			th {
				color: @blue;
				background-color: transparent;
			}
		}
	}
	tbody {
		tr {
			td {
				padding: 10px 15px;
			}
		}
	}
}