/*
 * Component: Social Widgets
 * -------------------------
 */
//General widget style
.box-widget {
  border: none;
  position: relative;
}

//User Widget Style 1
.widget-user {
  //User name container
  .widget-user-header {
    padding: 10px 0;
    height: 120px;
    .border-top-radius(@box-border-radius);
  }
  //User name
  .widget-user-username {
    color: @white;
    font-size: 16px;
    text-align: center;
    margin: 10px 0;
  }
  //User single line description
  .widget-user-desc {
    margin-top: 0;
  }
  //User image container
  .widget-user-image {
    width: 70px;
    margin: auto;
    > img {
      width: 100%;
      height: auto;
    }
  }
  .box-footer {
    padding-top: 30px;
  }
}

//User Widget Style 2
.widget-user-2 {
  //User name container
  .widget-user-header {
    padding: 20px;
    .border-top-radius(@box-border-radius);
  }
  //User name
  .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
  }
  //User single line description
  .widget-user-desc {
    margin-top: 0;
  }
  .widget-user-username,
  .widget-user-desc {
    margin-left: 75px;
  }
  //User image container
  .widget-user-image {
    > img {
      width: 65px;
      height: auto;
      float: left;
    }
  }
}
.bg-aqua-active {
  background-color: @blue;
}
.invoice-stt {
  color: @gray-text;
  font-size: 12px;
  font-weight:  normal;
}
.info-user-list {
  li {
    padding-left: 0;
    &:before {
      content: "";
    }
  }
}
