/*
 * Component: Social Widgets
 * -------------------------
 */
//General widget style
.box-widget {
  border: none;
  position: relative;
}

//User Widget Style 1
.widget-user {
  //User name container
  .widget-user-header {
    padding: 10px 0;
    height: 120px;
    .border-top-radius(@box-border-radius);
  }
  //User name
  .widget-user-username {
    color: @white;
    font-size: 16px;
    text-align: center;
    margin: 0;
    padding: 10px 0;
  }
  //User single line description
  .widget-user-desc {
    margin-top: 0;
  }
  //User image container
  .widget-user-image {
    width: 70px;
    height: 70px;
    margin: auto;
    a {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
  .box-footer {
    padding: 15px 0 5px;
    .btn {
      width: 150px;
      display: block;
      margin: 0 auto;
    }
  }
}

//User Widget Style 2
.widget-user-2 {
  //User name container
  .widget-user-header {
    padding: 20px;
    .border-top-radius(@box-border-radius);
  }
  //User name
  .widget-user-username {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 25px;
    font-weight: 300;
  }
  //User single line description
  .widget-user-desc {
    margin-top: 0;
  }
  .widget-user-username,
  .widget-user-desc {
    margin-left: 75px;
  }
  //User image container
  .widget-user-image {
    > img {
      width: 65px;
      height: auto;
      float: left;
    }
  }
}
.bg-aqua-active {
  background-color: @blue;
}
.invoice-stt {
  color: @gray-text;
  font-size: 12px;
  font-weight:  normal;
}
.info-user-list {
  li {
    padding-left: 0;
    color: @gray-text; 
    &:before {
      content: "";
    }
    i {
      width: 20px;
    }
    a {
      color: @gray-text;
      &:hover {
        color: @blue;
      }
    }
  }
}
.user-info-box-footer {
  .info-user-list {
    margin: 52px 0 15px;   
    li {
      padding: 0px 15px 10px;
      border-bottom: 1px solid @box-border-color;
      > span {
        font-size: 16px;
        & + a.pull-right {
          font-size: 12px;
          font-weight: bold;
          padding-top: 3px;
        }
      }
    }
    li:before {
      width: 16px;
      height: 16px;
      position: absolute;
      top: 25px;
      left: 25px;
      border: 1px solid @box-border-color;
      border-top: 0;
      border-left: 0;
      background-color: @white;
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
    i {
      width: 20px;
      text-align: center;
      color: @blue;
    }
  }
}
.info-update-btn {
  padding: 7px 0 15px;
  font-style: italic;
  i {
    width: 26px;
    text-align: center;
  }
}
.user-name-block {
  position: relative;
  &:after {
    width: 22px;
    height: 22px;
    position: absolute;
    bottom: -11px;
    left: 35px;
    background-color: @blue;
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
.user-info-box-body {
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid @box-border-color;
  .info-user-list {
    li,
    li:first-child >a {
      position: relative;
      >i {
        position: absolute;
        top: 0;
        left: 0;
        width: 25px;
        height: 25px;
        &:before {
          content: "";
        }
      }
      span {
        margin-left: 30px;
        display: block;
      }
      margin-bottom: 7px;
    }
  }
  li {
    &:first-child {
      i {
        height: 20px !important;
        background: url('../images/icon/mes.png') center no-repeat;
      }
    }
    & + li {
      i { 
        background: url('../images/icon/phone.png') center no-repeat;
      }
    }
    & + li + li {
      i {
        background: url('../images/icon/lo.png') center no-repeat;
      }
    }
    &:last-child {
      i {
        background: none;
      }
    }
  }
}

.w-invoice-list {
  padding: 0;
  margin: 0;
  .cate-name {
    font-weight: normal;
    color: @black;
    border-bottom: 0;
  }
  li {
    overflow: hidden;
    padding: 10px 15px 7px 25px;
    &:before {
      top: 15px;
      left: 15px;
    }
    &:first-child {
      padding-top: 0;
      &:before {
        top: 6px;
      }
    }
  }
  li {
    &:nth-child(even) {
      background-color: lighten(@light-gray-bg, 3%);
    }
  }
}