.container {
	min-width: 1170px;
}
main {
  width: 100%;
  min-height: 500px;
  float: left;
  margin-bottom: 30px;
}
.page-done {
  .list-group-item {
    display: list-item;
  }
}
.create-cate-side-left {
	padding-right: 30px;
}
.create-cate-side-right, .create-customer-side-right {
	border-left: 1px dotted @box-border-color;
	padding-top: 35px;
	padding-left: 35px;
}
.create-customer-side-right {
  border-left: 0;
}
.create-customer-side-left {
  border-right: 1px solid @box-border-color;
}
.cate-name{
  color: @black;
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 1px solid @box-border-color;
  &:hover {
    color: @blue;
    border-bottom: 0;
  }
}
.cus-name {
	color: @black;
  font-weight: bold;
  padding-bottom: 1px;
  &:hover {
    color: @blue;
  }
}
.product-form {
  min-height: 310px;
  padding-top: 15px;
  > .form-group {
    > label{
      color: @black;
      font-weight: normal;
      padding: 7px 0 0;
    }
  }
}
.product-img-left, .product-img-right {
  float: left;
  img {
    max-width: 100%;
  }
  .img-box {
    overflow: hidden;
  }
}
.product-img-left {
  width: 200px; 
  padding: 15px 7px;
  .img-box {
    width: 180px;
    height: 180px;
  }
  .lime-highlight {
    display: block;
    margin: 10px 0 0;
  }
}
.product-img-right {
  width: 350px;
  padding: 0 10px;
  .img-box {
    width: 100px;
    height: 100px;
    margin: 5px;
  }
  label {
    font-weight: bold;
    color: @black;
    display: block;
    width: 100%;
  }
}
.img-box {
  border-radius: @box-border-radius;
  border: @box-border;
  position: relative;
  float: left;
  span {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    font-size: 70px;
    color: @gray-text;
  }
}
.img-remove-btn {
  position: absolute;
  top: -2px;
  right: 0px;
  font-size: 18px;
  &:hover {
    color: @red;
    opacity: 1;
    text-shadow: none;
  }
}
.upload-btn {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.noted {
  font-size: 11px;
}
.black-label {
  color: @black;
  a {
    color: @black;
    &:hover {
      color: @blue-text;
    }
  }
}
.customer-info {
  > div {
    float: left;
    width: 100%;
  }
}
.update-info-box {
  width: 100%;
  float: left;
  padding: @box-padding 0;
  margin-bottom: 20px;
  border-radius: @box-border-radius;
  border: 1px solid @box-border-color;
  .list-group-noline {
    margin: 0;
  }
}
.search-container {
  width: 100%;
  padding: 0 0 30px;
  .create-cate-side-right {
    text-align: center;
  }
  .control-label {
    padding-top: 7px;
  }

}
.advance-search {
  .box-lime {
    .box-header {
      padding: 10px;
      .box-title {
        font-size: 16px;
        font-weight: normal;
        line-height: 1.1;
      }
    }
    .box-body {
      padding: 10px;
    }
  }
  .row {
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .checkbox {
    margin: 10px 0;
    + .checkbox {
        margin: 10px 0;
    }
  }
  .btn {
    max-width: 85px;
    float: none;
    display: block;
    margin: 0 auto;
  }
}
.in-num {
  font-size: 11px;
}
.invoice-button-group {
  a:first-child {
    margin-right: 20px;
  }
}
.invoice-tab-content{
  padding: 15px 0;

}
.invoice-tab-1 {
  .box {
    margin-bottom: 0;
  }
  .table {
    margin-bottom: 10px;
  }
  > form > div {
    margin-bottom: 20px;
  }
  .box-body {
    min-height: 162px;
  }
}
.invoice-row-1 {
  float: left;
  padding: 15px 0 0;
  p, span {
    float: left;
    margin: 7px 0;
  }
}
.advance-hidden {
  display: none;
}
.invoice-row1-inner {
  padding: 0;
  .pull-right {
    padding: 0;
  }
}
.invoice-row-3 {
  .box-body {
    div.col-xs-6, div.col-xs-5{
      padding: 0 20px 0 0 ;
      .control-label {
        text-align: left;
      }
    }
    .price {
      margin-top: 7px;
      float: left;
    }
  }
}
.invoice-row-5 {
  .box-body {
    height: 215px;
    padding: 0;
    textarea {
      width: 100%;
      height: 100%;      
      padding: 25px 15px 5px;
      resize: none;
      border-color: transparent;
    }
  }
}
.invoice-price {
  background-color: @blue-line;
  table {
    margin: 10px 0 0;
    tbody {
      tr {
        th, td {
          padding: 10px 0;
          border: 0;
          text-align: right;
          font-weight: normal;
        }
        th {
          padding-left: 10px;
          padding-right: 20px;
        }
        td {
          padding-right: 10px;
        }
      }
      .invoice-price-footer {
        border-top: 1px solid @black;
        margin-top: 10px;
        th {
          color: @black;
          font-weight: bold;
        }
      }
    }
  }
}
.temp-price {
  tbody {
    tr {
      th, td {
        padding: 0;
        border-bottom: 0;
      }
    }
  }
}
.invoice-tab-2, .callout {
  textarea {
    width: 100%;
    resize: none;
    background-color: @light-gray-bg;
    .border-radius(3px);
    border: 1px solid @box-border-color;
  }
}
.invoice-tab2-header {
  span {
    display: inline-block; 
  }
  span:first-child {
    padding-right: 15px;
    border-right: 1px solid @box-border-color;
  }
  span:last-child {
    padding-left: 15px;
  }
  .box-body {
    padding-left: 0;
    padding-right: 0;
  }
}
.invoice-tab-3 {
  table {
    .fa {
      margin-right: 10px;
    }
    strong {
      color: @black;
    }
  }
}

#insert-product-form {
  display: none;
}
.progress-row {
  width: 100%;
  height: 70px;
  background-color: @light-gray-bg;
  .border-radius(3px);
  margin-bottom: 20px;
}
.invoice-promotion-box {
  padding-bottom: 15px;
  .radio {
    margin-bottom: 10px;
  }
}

.margin-bottom-20 {
  margin-bottom: 20px;
}
.img-remove-btn {
  z-index: 10;
}