.container {
	min-width: 1170px;
}
main {
  width: 100%;
  min-height: 500px;
  float: left;
}
.create-cate-side-left {
	padding-right: 30px;
}
.create-cate-side-right {
	border-left: 1px dotted @box-border-color;
	padding-top: 35px;
	padding-left: 35px;
}