/*
 * Component: Table
 * ----------------
 */

.table {
  //Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border-bottom:0;
        border-top: 0;
        padding: 15px;
        vertical-align: middle;
      }
    }
  }
  //thead cells
  > thead > tr > th {
    color: @white;
    font-size: 13px;
    border-bottom: 0;
    background-color: @blue-bg;
  }
  > thead > tr > th:first-child {
    border-radius: 3px 0 0 0;
  }
  > thead > tr > th:last-child {
    border-radius: 0 3px 0 0;
  }
  //progress bars in tables
  tr td .progress {
    margin-top: 5px;
  }
  p {
    margin: 0;
  }
}

//Bordered Table
.table-bordered {
  border: 1px solid @box-border-color;
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid @box-border-color;
      }
    }
  }
  > thead > tr {
    > th,
    > td {
      border-bottom-width: 1px;
    }
  }
}

.table.no-border {
  &,
  td,
  th {
    border: 0;
  }
}

/* .text-center in tables */
table.text-center {
  &, td, th {
    text-align: center;
  }
}

.table.align {
  th {
    text-align: left;
  }
  td {
    text-align: right;
  }
}

.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: @white;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: @light-gray-bg;
}

.table {
    a.active {
    color: @green-text;
    font-weight: bold;
    &:hover {
      color: darken(@green-text, 15%);
    }
    &:focus {
      color: @green-text;
    }
  }
}
.deactive {
  color: @lime-text;
  font-weight: bold;
  &:hover {
    color: darken(@lime-text, 15%)
  }
  &:focus {
    color: @lime-text;
  }
}
.text-control{
  float: left;
  margin: 6px 0;
}
.table-striped > tbody > tr.filter, table > tbody > tr.filter, filter {
  width: 100%;
  background-color: #d5f3fe;
}
.filter {
  .form-control {
    border-color: transparent;
  }
}