/*
 * Core
 * -------------------------
 */
html,
body {
  min-width: 1170px;
  min-height: 100%;
  overflow-x: auto;
  background-color: #f0f1f3;
  color: #727272;
}
.layout-boxed html,
.layout-boxed body {
  height: 100%;
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}
/* Layout */
.wrapper {
  min-height: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper:before,
.wrapper:after {
  content: " ";
  display: table;
}
.wrapper:after {
  clear: both;
}
.layout-boxed .wrapper {
  max-width: 1250px;
  margin: 0 auto;
  min-height: 100%;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
  position: relative;
}
.content-wrapper,
.right-side,
.main-footer {
  -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
  margin-left: 230px;
  z-index: 820;
}
.layout-top-nav .content-wrapper,
.layout-top-nav .right-side,
.layout-top-nav .main-footer {
  margin-left: 0;
}
@media (max-width: 767px) {
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  .sidebar-collapse .content-wrapper,
  .sidebar-collapse .right-side,
  .sidebar-collapse .main-footer {
    margin-left: 0;
  }
}
@media (max-width: 767px) {
  .sidebar-open .content-wrapper,
  .sidebar-open .right-side,
  .sidebar-open .main-footer {
    -webkit-transform: translate(230px, 0);
    -ms-transform: translate(230px, 0);
    -o-transform: translate(230px, 0);
    transform: translate(230px, 0);
  }
}
.content-wrapper,
.right-side {
  min-height: 100%;
  background-color: #fff;
  z-index: 800;
}
.main-footer {
  background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
}
/* Fixed layout */
.fixed .main-header,
.fixed .main-sidebar,
.fixed .left-side {
  position: fixed;
}
.fixed .main-header {
  top: 0;
  right: 0;
  left: 0;
}
.fixed .content-wrapper,
.fixed .right-side {
  padding-top: 50px;
}
@media (max-width: 767px) {
  .fixed .content-wrapper,
  .fixed .right-side {
    padding-top: 100px;
  }
}
.fixed.layout-boxed .wrapper {
  max-width: 100%;
}
body.hold-transition .content-wrapper,
body.hold-transition .right-side,
body.hold-transition .main-footer,
body.hold-transition .main-sidebar,
body.hold-transition .left-side,
body.hold-transition .main-header > .navbar,
body.hold-transition .main-header .logo {
  /* Fix for IE */
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
}
/* H1 - H6 font */
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* General Links */
a {
  color: #2bc5f8;
}
a:hover,
a:active,
a:focus {
  outline: none;
  text-decoration: none;
  color: #75d9fa;
}
/* No link*/
img {
  max-width: 100%;
  margin: 0 auto;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.info-label {
  font-weight: bold;
}
/* Page Header */
.page-header {
  margin: 10px 0 20px 0;
  font-size: 22px;
}
.page-header > small {
  color: #666;
  display: block;
  margin-top: 5px;
}
header .logo {
  margin-right: 7px;
}
header nav {
  border-radius: 0;
}
header nav:before,
header nav:after {
  content: " ";
  display: table;
}
header nav:after {
  clear: both;
}
header nav li {
  float: left;
  position: relative;
  display: block;
}
header nav li a {
  color: #fff;
  border-bottom: 3px solid transparent;
  padding: 20px 0 17px!important;
  margin: 0 10px;
}
header nav li a:hover,
header nav li a:focus {
  color: #fff;
  background-color: transparent !important;
  border-bottom: 3px solid #0d7fb2;
}
header nav .active a {
  border-bottom: 3px solid #0d7fb2;
}
header .main-menu .search {
  padding: 0;
  margin: 12px 0 12px 50px;
  border-bottom: 1px solid #1ea7da;
}
header .main-menu .search .navbar-search-input {
  padding: 0;
  color: #e0f4fe;
  background-color: transparent;
  border: 0 solid transparent;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .main-menu .search .navbar-search-input:-moz-placeholder {
  color: #e0f4fe;
}
header .main-menu .search .navbar-search-input::-moz-placeholder {
  color: #e0f4fe;
}
header .main-menu .search .navbar-search-input:-ms-input-placeholder {
  color: #e0f4fe;
}
header .main-menu .search .navbar-search-input::-webkit-input-placeholder {
  color: #e0f4fe;
}
header .main-menu .search .btn {
  padding: 6px 0 6px 12px;
  font-size: 16px;
  color: #1ea7da;
  background-color: transparent;
  border: 0 solid transparent;
}
header .main-menu .search .btn:focus {
  outline: none;
}
header .main-menu .search .btn:active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
header .header-top {
  height: 60px;
  background: #2bc5f8;
  border-radius: 0;
  border: 0 solid transparent;
  margin-bottom: 0;
}
header .header-top .navbar-custom-menu {
  width: 195px;
  float: right;
  padding: 10px 0;
}
header .header-top .navbar-custom-menu a {
  padding: 0 !important;
  margin: 0;
}
header .header-top .navbar-custom-menu a:hover {
  border: 0 solid transparent;
}
header .header-top .user-label {
  width: 150px;
  float: left;
  margin-right: 5px;
}
header .header-top .user-label span {
  width: 100%;
  display: block;
  float: right;
  text-align: right;
}
header .header-top .user-label .user-label-2 {
  font-size: 11px;
}
.user-image {
  width: 40px;
  height: 40px;
}
.content-header {
  background-color: #fff;
  position: relative;
  padding: 15px 0 0;
  margin-bottom: 20px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.content-header h1 {
  width: auto;
  float: left;
  color: #727272;
  font-weight: normal;
  padding: 10px 30px 12px 0;
  border-right: 1px solid #dfdfdf;
  margin: 0;
  font-size: 22px;
}
.content-header .breadcrumb {
  float: left;
  background: transparent;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  padding: 7px 10px 0;
  top: 15px;
  right: 10px;
  border-radius: 2px;
}
.content-header .breadcrumb > li > a {
  padding: 10px 0;
  margin: 0 10px;
  color: #444;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  display: inline-block;
}
.content-header .breadcrumb > li > a > .fa,
.content-header .breadcrumb > li > a > .glyphicon,
.content-header .breadcrumb > li > a > .ion {
  margin-right: 5px;
}
.content-header .breadcrumb > li > .active,
.content-header .breadcrumb > li > a:hover {
  color: #ff5722;
  border-bottom: 2px solid #ff5722;
}
.content-header .breadcrumb > li + li:before {
  content: '';
  padding: 0;
}
footer {
  width: 100%;
  height: 50px;
  float: left;
  padding: 15px 0;
  background-color: transparent;
  border-top: 1px solid #e1e1e1;
  text-align: center;
}
footer p {
  color: #727272;
}
.text-danger,
label.error {
  color: #f44336;
  padding: 0;
  margin: 0;
  font-size: 11px;
}
a.text-danger:hover,
alabel.error:hover,
a.text-danger:focus,
alabel.error:focus {
  color: #ea1c0d;
}
label.error {
  font-weight: normal;
}
.lime-highlight {
  color: #ff5722;
}
.green-highlight {
  color: #3ac562;
}
/*
 * Component: Form
 * ---------------
 */
.form-control {
  border-radius: 3px;
  box-shadow: none;
  border-color: #d2d6de;
}
.form-control:focus {
  border-color: #2bc5f8;
  box-shadow: none;
}
.form-control::-moz-placeholder,
.form-control:-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #bbb;
  opacity: 1;
}
.form-control:not(select) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.form-group {
  margin-bottom: 10px;
}
.form-group.has-success label {
  color: #3ac562;
}
.form-group.has-success .form-control {
  border-color: #3ac562;
  box-shadow: none;
}
.form-group.has-warning label {
  color: #f39c12;
}
.form-group.has-warning .form-control {
  border-color: #f39c12;
  box-shadow: none;
}
.form-group.has-error label {
  color: #f44336;
}
.form-group.has-error .form-control {
  border-color: #f44336;
  box-shadow: none;
}
.form-auto {
  width: auto;
}
.select-noline {
  border-width: 0 0 1px 0;
  border-style: solid;
  padding: 3px;
}
/* Input group */
.input-group .input-group-addon {
  border-radius: 3px;
  border-color: #d2d6de;
  background-color: #fff;
}
/* button groups */
.btn-group-vertical .btn.btn-flat:first-of-type,
.btn-group-vertical .btn.btn-flat:last-of-type {
  border-radius: 0;
}
.icheck > label {
  padding-left: 0;
}
/* support Font Awesome icons in form-control */
.form-control-feedback.fa {
  line-height: 34px;
}
.input-lg + .form-control-feedback.fa,
.input-group-lg + .form-control-feedback.fa,
.form-group-lg .form-control + .form-control-feedback.fa {
  line-height: 46px;
}
.input-sm + .form-control-feedback.fa,
.input-group-sm + .form-control-feedback.fa,
.form-group-sm .form-control + .form-control-feedback.fa {
  line-height: 30px;
}
.date-picker-group {
  position: relative;
  z-index: 1;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}
.date-picker-group .date-picker {
  background: transparent;
  cursor: pointer;
}
.l-calendar-icon {
  position: absolute;
  top: 0;
  right: 3px;
  z-index: -1;
  padding: 0 3px;
  font-size: 24px;
  cursor: pointer;
}
.editor-form {
  padding-top: 0;
}
.editor-form textarea {
  width: 100%;
}
/*
 * Component: Button
 * -----------------
 */
.btn {
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid transparent;
}
.btn.uppercase {
  text-transform: uppercase;
}
.btn.btn-flat {
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-width: 1px;
}
.btn:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: inset none;
}
.btn:focus {
  outline: none;
}
.btn.btn-file {
  position: relative;
  overflow: hidden;
}
.btn.btn-file > input[type='file'] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  opacity: 0;
  filter: alpha(opacity=0);
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.btn-default {
  background-color: #ffcaba;
  color: #958884;
}
.btn-default:active,
.btn-default:active:focus,
.btn-default:hover,
.btn-default:focus {
  background-color: #ff5722;
  border: 1px solid transparent;
}
.btn-primary {
  background-color: #2bc5f8;
  border-color: #12bef7;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
  background-color: #12bef7;
  border-color: #12bef7;
}
.btn-lime {
  color: #fff;
  background-color: #ff5722;
  border-color: #ff4408;
}
.btn-lime:hover,
.btn-lime:active,
.btn-lime:focus {
  background-color: #ff4408;
}
.btn-gray {
  color: #727272;
  border: 1px solid #dfdfdf;
}
.btn-gray:hover,
.btn-gray:active,
.btn-gray:focus {
  background-color: #ff4408;
  color: #fff;
}
.btn-update {
  color: #727272;
  border-bottom: 1px solid #dfdfdf;
}
.btn-update:hover {
  color: #ff5722;
  border-bottom: 0;
}
.btn-action {
  color: #727272;
}
.btn-action:hover {
  color: #2bc5f8;
}
.btn-action:focus {
  color: #727272;
}
.btn-action i {
  font-size: 23px;
}
.action .btn-action:first-child {
  margin-right: 10px;
}
/*
 * Component: Label
 * ----------------
 */
.label-default {
  background-color: #d2d6de;
  color: #444;
}
/*
 * Component: Box
 * --------------
 */
.box {
  position: relative;
  border-radius: 3px;
  background: #ffffff;
  border: 0 solid transparent;
  margin-bottom: 20px;
  width: 100%;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding-bottom: 5px;
}
.box.collapsed-box .box-body,
.box.collapsed-box .box-footer {
  display: none;
}
.box .nav-stacked > li {
  border-bottom: 1px solid #dfdfdf;
  margin: 0;
}
.box .nav-stacked > li:last-of-type {
  border-bottom: none;
}
.box.height-control .box-body {
  max-height: 300px;
  overflow: auto;
}
.box .border-right {
  border-right: 1px solid #dfdfdf;
}
.box .border-left {
  border-left: 1px solid #dfdfdf;
}
.box.box-solid {
  border-top: 0;
}
.box.box-solid > .box-header .btn.btn-default {
  background: transparent;
}
.box.box-solid > .box-header .btn:hover,
.box.box-solid > .box-header a:hover {
  background: rgba(0, 0, 0, 0.1);
}
.box.box-solid.box-default {
  border: 1px solid #d2d6de;
}
.box.box-solid.box-default > .box-header {
  color: #444;
  background: #d2d6de;
  background-color: #d2d6de;
}
.box.box-solid.box-default > .box-header a,
.box.box-solid.box-default > .box-header .btn {
  color: #444;
}
.box.box-solid.box-primary {
  border: 1px solid #2bc5f8;
}
.box.box-solid.box-primary > .box-header {
  color: #fff;
  background: #2bc5f8;
  background-color: #2bc5f8;
}
.box.box-solid.box-primary > .box-header a,
.box.box-solid.box-primary > .box-header .btn {
  color: #fff;
}
.box.box-solid.box-info {
  border: 1px solid #00c0ef;
}
.box.box-solid.box-info > .box-header {
  color: #fff;
  background: #00c0ef;
  background-color: #00c0ef;
}
.box.box-solid.box-info > .box-header a,
.box.box-solid.box-info > .box-header .btn {
  color: #fff;
}
.box.box-solid.box-danger {
  border: 1px solid #f44336;
}
.box.box-solid.box-danger > .box-header {
  color: #fff;
  background: #f44336;
  background-color: #f44336;
}
.box.box-solid.box-danger > .box-header a,
.box.box-solid.box-danger > .box-header .btn {
  color: #fff;
}
.box.box-solid.box-warning {
  border: 1px solid #f39c12;
}
.box.box-solid.box-warning > .box-header {
  color: #fff;
  background: #f39c12;
  background-color: #f39c12;
}
.box.box-solid.box-warning > .box-header a,
.box.box-solid.box-warning > .box-header .btn {
  color: #fff;
}
.box.box-solid.box-success {
  border: 1px solid #3ac562;
}
.box.box-solid.box-success > .box-header {
  color: #fff;
  background: #3ac562;
  background-color: #3ac562;
}
.box.box-solid.box-success > .box-header a,
.box.box-solid.box-success > .box-header .btn {
  color: #fff;
}
.box.box-solid > .box-header > .box-tools .btn {
  border: 0;
  box-shadow: none;
}
.box.box-solid[class*='bg'] > .box-header {
  color: #fff;
}
.box .box-lime {
  border: 1px solid #dfdfdf;
  box-shadow: none;
}
.box .box-lime .box-header {
  padding: 10px 15px 6px;
}
.box .box-lime .box-header .box-title {
  color: #ff5722;
  font-size: 14px;
  font-weight: bold;
}
.box .box-group > .box {
  margin-bottom: 5px;
}
.box .knob-label {
  text-align: center;
  color: #333;
  font-weight: 100;
  font-size: 12px;
  margin-bottom: 0.3em;
}
.box > .overlay,
.overlay-wrapper > .overlay,
.box > .loading-img,
.overlay-wrapper > .loading-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.box .overlay,
.overlay-wrapper .overlay {
  z-index: 50;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
}
.box .overlay > .fa,
.overlay-wrapper .overlay > .fa {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  color: #000;
  font-size: 30px;
}
.box .overlay.dark,
.overlay-wrapper .overlay.dark {
  background: rgba(0, 0, 0, 0.5);
}
.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
  content: " ";
  display: table;
}
.box-header:after,
.box-body:after,
.box-footer:after {
  clear: both;
}
.box-header {
  display: block;
  padding: 12px 15px 8px;
  position: relative;
}
.box-header.with-border {
  border-bottom: 1px solid #dfdfdf;
}
.collapsed-box .box-header.with-border {
  border-bottom: none;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion,
.box-header .box-title {
  color: #2bc5f8;
  display: inline-block;
  font-weight: normal;
  font-size: 20px;
  margin: 10px 0 0;
  line-height: 1;
}
.box-header > .fa,
.box-header > .glyphicon,
.box-header > .ion {
  margin-right: 5px;
}
.box-header > .box-tools {
  position: absolute;
  right: 10px;
  top: 5px;
}
.box-header > .box-tools [data-toggle="tooltip"] {
  position: relative;
}
.box-header > .box-tools.pull-right .dropdown-menu {
  right: 0;
  left: auto;
}
.btn-box-tool {
  padding: 5px;
  font-size: 12px;
  background: transparent;
  color: #97a0b3;
}
.open .btn-box-tool,
.btn-box-tool:hover {
  color: #606c84;
}
.btn-box-tool.btn:active {
  box-shadow: none;
}
.box-body {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  padding: 25px 15px 5px;
}
.no-header .box-body {
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
.box-body > .table {
  margin-bottom: 0;
}
.box-body .fc {
  margin-top: 5px;
}
.box-body .full-width-chart {
  margin: -19px;
}
.box-body.no-padding .full-width-chart {
  margin: -9px;
}
.box-body .box-pane {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
}
.box-body .box-pane-right {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
}
.box-footer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top: 0;
  padding: 15px;
  background-color: #fff;
}
.chart-legend {
  margin: 10px 0;
}
@media (max-width: 991px) {
  .chart-legend > li {
    float: left;
    margin-right: 10px;
  }
}
.box-comments {
  background: #f7f7f7;
}
.box-comments .box-comment {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}
.box-comments .box-comment:before,
.box-comments .box-comment:after {
  content: " ";
  display: table;
}
.box-comments .box-comment:after {
  clear: both;
}
.box-comments .box-comment:last-of-type {
  border-bottom: 0;
}
.box-comments .box-comment:first-of-type {
  padding-top: 0;
}
.box-comments .box-comment img {
  float: left;
}
.box-comments .comment-text {
  margin-left: 40px;
  color: #555;
}
.box-comments .username {
  color: #444;
  display: block;
  font-weight: 600;
}
.box-comments .text-muted {
  font-weight: 400;
  font-size: 12px;
}
/* Widget: TODO LIST */
.todo-list {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
}
.todo-list > li {
  border-radius: 2px;
  padding: 10px;
  background: #f4f4f4;
  margin-bottom: 2px;
  border-left: 2px solid #e6e7e8;
  color: #444;
}
.todo-list > li:last-of-type {
  margin-bottom: 0;
}
.todo-list > li > input[type='checkbox'] {
  margin: 0 10px 0 5px;
}
.todo-list > li .text {
  display: inline-block;
  margin-left: 5px;
  font-weight: 600;
}
.todo-list > li .label {
  margin-left: 10px;
  font-size: 9px;
}
.todo-list > li .tools {
  display: none;
  float: right;
  color: #f44336;
}
.todo-list > li .tools > .fa,
.todo-list > li .tools > .glyphicon,
.todo-list > li .tools > .ion {
  margin-right: 5px;
  cursor: pointer;
}
.todo-list > li:hover .tools {
  display: inline-block;
}
.todo-list > li.done {
  color: #999;
}
.todo-list > li.done .text {
  text-decoration: line-through;
  font-weight: 500;
}
.todo-list > li.done .label {
  background: #d2d6de !important;
}
/* Chat widget (DEPRECATED - this will be removed in the next major release. Use Direct Chat instead)*/
.chat {
  padding: 5px 20px 5px 10px;
}
.chat .item {
  margin-bottom: 10px;
}
.chat .item:before,
.chat .item:after {
  content: " ";
  display: table;
}
.chat .item:after {
  clear: both;
}
.chat .item > img {
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
  border-radius: 50%;
}
.chat .item > .online {
  border: 2px solid #3ac562;
}
.chat .item > .offline {
  border: 2px solid #f44336;
}
.chat .item > .message {
  margin-left: 55px;
  margin-top: -40px;
}
.chat .item > .message > .name {
  display: block;
  font-weight: 600;
}
.chat .item > .attachment {
  border-radius: 3px;
  background: #f4f4f4;
  margin-left: 65px;
  margin-right: 15px;
  padding: 10px;
}
.chat .item > .attachment > h4 {
  margin: 0 0 5px 0;
  font-weight: 600;
  font-size: 14px;
}
.chat .item > .attachment > p,
.chat .item > .attachment > .filename {
  font-weight: 600;
  font-size: 13px;
  font-style: italic;
  margin: 0;
}
.chat .item > .attachment:before,
.chat .item > .attachment:after {
  content: " ";
  display: table;
}
.chat .item > .attachment:after {
  clear: both;
}
.modal .panel-body {
  color: #444;
}
/*
 * Component: modal
 * ----------------
 */
.modal {
  background: rgba(0, 0, 0, 0.3);
}
.modal .modal-sm {
  width: 330px;
  height: 150px;
}
.modal .modal-title {
  color: #2bc5f8;
  margin: 0;
}
.modal p {
  margin: 0;
}
.modal .btn {
  min-width: 70px;
  padding: 6px 20px;
}
.modal-content {
  border-radius: 2;
  -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  border: 0;
}
@media (min-width: 768px) {
  .modal-content {
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.125);
  }
}
.modal-header {
  padding: 10px 15px;
  border-bottom-color: #dfdfdf;
}
.modal-footer {
  padding: 0 15px 15px;
  border-top-color: transparent;
}
.modal-primary .modal-header {
  background-color: #2bc5f8;
  border-radius: 3px 3px 0 0;
}
.modal-primary .modal-header .close {
  color: #fff;
  opacity: 1;
}
.modal-primary .modal-header {
  border-color: #08b0e8;
}
.modal-primary .info-footer {
  border-top: 1px solid #dfdfdf;
  border-radius: 0 0 3px 3px;
}
.modal-primary .modal-title {
  color: #fff;
}
.modal-warning .modal-header,
.modal-warning .modal-footer {
  border-color: #c87f0a;
}
.modal-info .modal-header,
.modal-info .modal-footer {
  border-color: #0097bc;
}
.modal-success .modal-header,
.modal-success .modal-footer {
  border-color: #2e9e4e;
}
.modal-danger .modal-header,
.modal-danger .modal-footer {
  border-color: #ea1c0d;
}
/*
 * Component: Table
 * ----------------
 */
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border-bottom: 1px solid #dfdfdf;
  border-top: 0;
  padding: 15px;
  vertical-align: middle;
}
.table > thead > tr > th {
  color: #fff;
  font-size: 13px;
  border-bottom: 0;
  background-color: #2bc5f8;
}
.table > thead > tr > th:first-child {
  border-radius: 3px 0 0 0;
}
.table > thead > tr > th:last-child {
  border-radius: 0 3px 0 0;
}
.table tr td .progress {
  margin-top: 5px;
}
.table p {
  margin: 0;
}
.table-bordered {
  border: 1px solid #dfdfdf;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dfdfdf;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 1px;
}
.table.no-border,
.table.no-border td,
.table.no-border th {
  border: 0;
}
/* .text-center in tables */
table.text-center,
table.text-center td,
table.text-center th {
  text-align: center;
}
.table.align th {
  text-align: left;
}
.table.align td {
  text-align: right;
}
.table-striped > tbody > tr:nth-of-type(odd) {
  background-color: #fff;
}
.table-striped > tbody > tr:nth-of-type(even) {
  background-color: #f0f1f3;
}
a.active {
  color: #3ac562;
  font-weight: bold;
}
a.active:hover {
  color: #298a45;
}
a.active:focus {
  color: #3ac562;
}
.deactive {
  color: #ff5722;
  font-weight: bold;
}
.deactive:hover {
  color: #d43300;
}
.deactive:focus {
  color: #ff5722;
}
.text-control {
  float: left;
  margin: 6px 0;
}
.table-striped > tbody > tr.filter,
table > tbody > tr.filter,
filter {
  width: 100%;
  background-color: #d5f3fe;
}
.filter .form-control {
  border-color: transparent;
}
.list-group-noline {
  list-style: none;
  /* Remove list bullets */
  padding: 0;
  margin: 10px 0 0 0;
}
.list-group-noline li {
  position: relative;
  padding: 3px 0 3px 15px;
}
.list-group-noline li:before {
  content: "\f0c8";
  font-family: FontAwesome;
  color: #2bc5f8;
  font-size: 6px;
  position: absolute;
  top: 10px;
  left: 0;
}
.pagination {
  float: left;
  padding-left: 0;
  margin: 0;
  border-radius: 4px;
}
.pagination > li > a,
.pagination > li > span {
  margin-left: 5px;
  border-radius: 3px;
}
.pagination > li > a {
  color: #fff;
  background-color: #2bc5f8;
  border-color: #12bef7;
}
.pagination > li > a:hover,
.pagination > li > a:active,
.pagination > li > a:focus {
  color: #fff;
  background-color: #079ed0;
  border-color: #079ed0;
}
.pagination > li > span {
  border-color: transparent;
  color: #727272;
  padding: 5px;
}
.pagination > li > span:hover,
.pagination > li > span:focus {
  color: #727272;
  background-color: transparent;
  border-color: transparent;
}
.pagination > li:first-child > a,
.pagination > li:last-child > a {
  width: 30px;
  height: 30px;
}
.pagi-form {
  width: 135px;
  float: left;
  margin-left: 25px;
  position: relative;
}
.pagi-form label {
  width: 100%;
  font-weight: normal;
}
.pagi-form label:after {
  content: "\f107";
  font: normal normal normal 14px/1 FontAwesome;
  color: #fff;
  right: 10px;
  top: 8px;
  position: absolute;
  pointer-events: none;
}
.pagi-form label:before {
  content: '';
  width: 30px;
  height: 30px;
  background: #2bc5f8;
  border-radius: 0 3px 3px 0;
  position: absolute;
  right: 0;
  top: 0;
  pointer-events: none;
  display: block;
}
.form-select {
  height: 30px;
  font-size: 12px;
  padding: 5px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/*
 * Component: Products List
 * ------------------------
 */
.products-list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.products-list > .item {
  padding: 10px 0;
  background: transparent;
}
.products-list > .item:before,
.products-list > .item:after {
  content: " ";
  display: table;
}
.products-list > .item:after {
  clear: both;
}
.products-list .product-img {
  float: left;
}
.products-list .product-img img {
  width: 50px;
  height: 50px;
}
.products-list .product-info {
  margin-left: 60px;
}
.products-list .product-title {
  color: #727272;
}
.products-list .product-description {
  display: block;
  color: #999;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.product-list-in-box > .item {
  -webkit-box-shadow: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid #dfdfdf;
}
.product-list-in-box > .item:last-of-type {
  border-bottom-width: 0;
}
.container {
  min-width: 1170px;
}
main {
  width: 100%;
  min-height: 500px;
  float: left;
  margin-bottom: 30px;
}
.create-cate-side-left {
  padding-right: 30px;
}
.create-cate-side-right,
.create-customer-side-right {
  border-left: 1px dotted #dfdfdf;
  padding-top: 35px;
  padding-left: 35px;
}
.create-customer-side-right {
  border-left: 0;
}
.create-customer-side-left {
  border-right: 1px solid #dfdfdf;
}
.cate-name {
  color: #212121;
  font-weight: bold;
  padding-bottom: 1px;
  border-bottom: 1px solid #dfdfdf;
}
.cate-name:hover {
  color: #2bc5f8;
  border-bottom: 0;
}
.cus-name {
  color: #212121;
  font-weight: bold;
  padding-bottom: 1px;
}
.cus-name:hover {
  color: #2bc5f8;
}
.product-form {
  min-height: 310px;
  padding-top: 15px;
}
.product-form > .form-group > label {
  color: #212121;
  font-weight: normal;
  padding: 7px 0 0;
}
.product-img-left,
.product-img-right {
  float: left;
}
.product-img-left img,
.product-img-right img {
  max-width: 100%;
}
.product-img-left .img-box,
.product-img-right .img-box {
  overflow: hidden;
}
.product-img-left {
  width: 200px;
  padding: 15px 7px;
}
.product-img-left .img-box {
  width: 180px;
  height: 180px;
}
.product-img-left .lime-highlight {
  display: block;
  margin: 10px 0 0;
}
.product-img-right {
  width: 350px;
  padding: 0 10px;
}
.product-img-right .img-box {
  width: 100px;
  height: 100px;
  margin: 5px;
}
.product-img-right label {
  font-weight: bold;
  color: #212121;
  display: block;
  width: 100%;
}
.img-box {
  border-radius: 3px;
  border: 1px solid #dfdfdf;
  position: relative;
  float: left;
}
.img-box span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 70px;
  color: #727272;
}
.upload-btn {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
}
.noted {
  font-size: 11px;
}
.black-label {
  color: #212121;
}
.black-label a {
  color: #212121;
}
.black-label a:hover {
  color: #2bc5f8;
}
.customer-info > div {
  float: left;
  width: 100%;
}
.update-info-box {
  width: 100%;
  float: left;
  padding: 15px 0;
  margin-bottom: 20px;
  border-radius: 3px;
  border: 1px solid #dfdfdf;
}
.update-info-box .list-group-noline {
  margin: 0;
}
.search-container {
  width: 100%;
  padding: 0 0 30px;
}
.search-container .create-cate-side-right {
  text-align: center;
}
.search-container .control-label {
  padding-top: 7px;
}
.advance-search .row {
  margin-top: 10px;
  margin-bottom: 10px;
}
.advance-search .checkbox {
  margin: 10px 0;
}
.advance-search .checkbox + .checkbox {
  margin: 10px 0;
}
.advance-search .btn {
  max-width: 85px;
  float: none;
  display: block;
  margin: 0 auto;
}
.invoice-tab-content {
  padding: 15px 0;
}
.invoice-info-content {
  width: 100%;
  float: left;
  padding: 15px 0;
}
.invoice-info-content p,
.invoice-info-content span {
  float: left;
  margin: 7px 0;
}
.advance-hidden {
  display: none;
}
/*
 * Page: Login & Register
 * ----------------------
 */
.login-logo,
.register-logo {
  background-color: #2bc5f8;
  font-size: 35px;
  text-align: center;
  font-weight: 300;
}
.login-logo a,
.register-logo a {
  color: #444;
}
.login-box,
.register-box {
  width: 360px;
  margin: 7% auto;
}
@media (max-width: 768px) {
  .login-box,
  .register-box {
    width: 90%;
    margin-top: 20px;
  }
}
.login-box-body,
.register-box-body {
  background: #fff;
  padding: 20px;
  border-top: 0;
  color: #666;
}
.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
  color: #777;
}
.login-box-msg,
.register-box-msg {
  margin: 0;
  text-align: center;
  padding: 0 20px 20px 20px;
}
.social-auth-links {
  margin: 10px 0;
}
.icheck {
  margin-top: 10px;
  margin-bottom: 10px;
}
.icheck input[type="checkbox"] {
  margin-left: -15px;
}
