{% extends "_layout.html" %}
{% block page-container %}
<main>
  <div class="container">
  	<ul class="list-group col-md-6 col-md-offset-3">
  	  <li class="list-group-item"><a href="2.1-categories.html">Danh mục sản phẩm</a></li>
  	  <li class="list-group-item"><a href="2.2-create-category.html">Tạo mới danh mục sản phẩm</a></li>
      <li class="list-group-item"><a href="2.3-product.html">Sản phẩm</a></li>
      <li class="list-group-item"><a href="2.4-product-detail.html">Tạo mới sản phẩm</a></li>
      <li class="list-group-item"><a href="3.1-customer-list.html">Danh sách khách hàng</a></li>
      <li class="list-group-item"><a href="3.2-create-customer.html">Tạo mới khách hàng</a></li>
  	</ul>
  </div>
</main>
{% endblock %}