{% extends "_layout-base.html" %}
{% block bodyclass%}login-page{% endblock %}
<!--page-container-->
{% block page-container %}
<main>
  <div class="login-bg">
  </div>

  <!--login-box-->
  <div  class="login-box">
    <div class="login-logo">
      <a href="1-login.html"><img src="assets/images/myface-logo.png" alt="myface"></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Đăng nhập trang quản trị Store của bạn</p>
      <form action="" method="post">
        <div class="login-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <input type="email" class="form-control" placeholder="Nhập email">
            <!--validate-->
            <label class="login-f-v" style="display:none"><i class="fa fa-exclamation-circle"></i> <span>Địa chỉ Email ko hợp lệ</span></label>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Nhập mật khẩu">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
          </div>
        </div><!--/.login-group-->
        <div class="form-group">
          <div class="col-xs-12">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> <span>Ghi nhớ đăng nhập</span>
              </label>
              <a href="" class="forget-pass-mgs" data-toggle="modal" data-target="#forgetpass-modal"> Quên mật khẩu</a>
            </div>
          </div>
          <!-- /.col -->
          <button type="submit" class="btn btn-lg btn-blackblue btn-login">Đăng nhập</button>
          <!-- /.col -->
        </div>
      </form>
      <p class="no-account">
        <span>Chưa có tài khoản?</span>
        <a href="1.2-register.html" class="text-center signup-link">Đăng ký</a>
      </p>
    </div>
  </div>
  <!-- /.login-box-body -->
</main>
<!-- /.login-box -->

<!--forget-pass-->
<div data-backdrop class="modal forgetpass-modal" id="forgetpass-modal" style="display: none;">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close remove_text" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fa fa-close" aria-hidden="true"></i></span></button>
        <h4 class="modal-title">Quên mật khẩu</h4>
      </div>
      <div class="modal-body">
        <div class="forgetpass-form">
          <p>Vui lòng nhập Email để cập nhật lại mật khẩu trên hệ thống myFace.</p>
          <div class="form-group">
            <input type="email" class="form-control" placeholder="Nhập email của bạn">
          </div>
          <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Lấy lại mật khẩu">
          </div>
        </div>
      </div>
    </div>
    <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!--./forget-pass-->
{% endblock %}
<!--footer-->
{% block footer%}
{% include "_footer.html" %}
{% endblock %}
