{% extends "_layout-base.html" %}
{% block bodyclass%}login-page{% endblock %}
<!--page-container-->
{% block page-container %}
<main>
  <div class="login-bg">
  </div>

  <!--login-box-->
  <div  class="login-box">
    <div class="login-logo">
      <a href="1-login.html"><img src="assets/images/myface-logo.png" alt="myface"></a>
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
      <p class="login-box-msg">Đăng nhập trang quản trị Store của bạn</p>
      <div class="social-auth-links text-center">
        <a href="#" class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Đăng nhập bằng Facebook</a>
        <p class="login-email-mgs">hoặc đăng nhập bằng email</p>
      </div>
      <form action="" method="post">
      <div class="login-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control" placeholder="Nhập tên Store của bạn">
            <span class="input-group-addon domain-span">.myface.vn</span>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <input type="email" class="form-control" placeholder="Email">
            <!--validate-->
            <label class="login-f-v" style="display:none"><i class="fa fa-exclamation-circle"></i> <span>Địa chỉ Email ko hợp lệ</span></label>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Nhập mật khẩu">
          </div>
        </div><!--/.login-group-->
        <div class="form-group">
          <div class="col-xs-12">
            <div class="checkbox icheck">
              <label>
                <input type="checkbox"> <span>Ghi nhớ đăng nhập</span>
              </label>
              <a href="#" class="forget-pass-mgs"> Quên mật khẩu</a>
            </div>
          </div>
          <!-- /.col -->
          <button type="submit" class="btn btn-lg btn-blackblue btn-login">Đăng nhập</button>
          <!-- /.col -->
        </div>
      </form>
      <p class="no-account">
        <span>Chưa có tài khoản?</span>
        <a href="1.2-register.html" class="text-center signup-link">Đăng ký</a>
      </p>
    </div>
  </div>
  <!-- /.login-box-body -->
</main>
<!-- /.login-box -->
{% endblock %}
<!--footer-->
{% block footer%}
{% include "_footer.html" %}
{% endblock %}