{% extends "_layout-base.html" %}
{% block bodyclass%}login-page{% endblock %}
<!--page-container-->
{% block page-container %}
<main>
  <div class="login-bg">
  </div>

  <!--login-box-->
  <div  class="login-box">
    <div class="login-logo">
      <a href="1-login.html"><img src="assets/images/myface-logo.png" alt="myface"></a>
    </div>
    <!-- /.login-logo -->
    <!--register-step-1-->
    <div class="login-box-body" id="step-1-f">
      <p class="login-box-msg">Chào mừng bạn đến myFace, giải pháp bán hàng hiệu quả trên Facebook, Zalo & các nền tảng web khác.</p>
      <div class="social-auth-links text-center">
        <p class="login-email-mgs">Bạn hãy điền các thông tin bên dưới</p>
      </div>
      <form action="" method="post">
        <div class="login-group">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input type="text" class="form-control name-store" placeholder="Nhập tên Store của bạn" value="">
            <span class="input-group-addon domain-span">.myface.vn</span>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
            <input type="text" class="form-control" placeholder="Số điện thoại">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
            <input type="email" class="form-control" placeholder="Nhập địa chỉ email của bạn">
            <!--validate-->
            <label class="login-f-v" style="display:none"><i class="fa fa-exclamation-circle"></i> <span>Địa chỉ Email ko hợp lệ</span></label>
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Nhập mật khẩu">
          </div>
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
            <input type="password" class="form-control" placeholder="Nhập lại mật khẩu">
          </div>
        </div><!--/.login-group-->
        <div class="form-group">
          <div class="link-shop">
          <p>Link truy cập shop của bạn: <span class="link-shop-text link-text">tenshop</span><span class="link-text">.myface.vn</span></p>
          </div>
          <!-- /.col -->
          <button id="step-2-btn" type="button" class="btn btn-lg btn-blackblue btn-login" onclick="location.href='1.2.1-register-termofuse.html'">Tiếp tục</button>
          <!-- /.col -->
        </div>
      </form>
      <p class="no-account">
        <span>Đã đăng ký?</span>
        <a href="1.1-login.html" class="text-center signup-link">Đăng nhập</a>
      </p>
    </div>
  </div>
  <!-- /.login-box-body -->
</main>
<!-- /.login-box -->
{% endblock %}
<!--footer-->
{% block footer%}
{% include "_footer.html" %}
{% endblock %}
