{% extends "_layout.html" %}
{% block page-container %}
{% include "_shop-setting-header.html" %}
<main class="promotion">
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách chương trình khuyến mãi</h3>
                    <a class="btn btn-default pull-right" href="10-promotion.html">+ Tạo chương trình khuyến mãi mới</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="10.1-promotion-coupon.html">Khuyến mãi code coupon</a>
                            </li>
                            <li class="active">
                                <a href="10.2-promotion-for-order.html">Tặng quà cho đơn hàng</a>
                            </li>
                            <li>
                                <a aria-expanded="true" href="10.3-promotion-for-product.html">Tặng quà cho sản phẩm</a>
                            </li>
                        </ul>
                        <div class="promotion-table">
                            <table class="table table-promotion-order">
                                <thead>
                                    <tr>
                                        <th class="input"></th>
                                        <th>Tên chương trình</th>
                                        <th class="col-md-2 text-center">Loại khuyến mãi</th>
                                        <th class="col-md-2 text-center">Thời gian áp dụng</th>
                                        <th class="text-center">Trạng thái</th>
                                        <th class="text-right">Dừng sử dụng</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="collapse-toggle-nav">
                                        <td>
                                            1
                                        </td>
                                        <td>
                                            Mua sắm thả ga, hít hà hít hà
                                            <p class="toggle-row">
                                                <a class="action-text multi-collapse-toggle show-promotion-detail" href="">Xem chi tiết</a>
                                            </p>
                                        </td>
                                        <td>
                                            Tặng quà cho đơn hàng có giá trị trên {x} VNĐ
                                        </td>
                                        <td class="text-center">
                                            <p class="date">04/11/2015 - 11:00:35</p>
                                            <p class="date">12/11/2015 - 11:00:35</p>
                                            <p class="toggle-row">
                                                <a class="action-text multi-collapse-toggle show-promotion-date" href="">Gia hạn</a>
                                            </p>
                                        </td>
                                        <td class="text-center">Kích hoạt</td>
                                        <td class="text-right">
                                            <button class="btn btn-lime on-promotion-btn">Dừng</button>
                                        </td>
                                    </tr>
                                    <tr class="collapse-row">
                                        <td class="collapse-inner" colspan="9">
                                            <div class="collapse-div collapse-promotion-detail">
                                                <div class="col-sm-6 promotion-row promotion-coupon">
                                                    <div class="box box-lime promotion-detail">
                                                        <div class="box-header with-border">
                                                            <h4 class="box-title promotion-title">Chi tiết khuyến mãi <span>Mua sắm thả ga, hít hà hít hà</span></h4>
                                                        </div><!-- /.box-header -->
                                                        <div class="box-body promotion-content">
                                                            <div class="row">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Tên chương trình
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Mua sắm thả ga, hít hà hít hà
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Loại khuyến mãi
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Tặng quà cho đơn hàng có giá trị trên {x} VNĐ
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Giá trị đơn hàng tối thiểu để được tặng quà
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                200.000 VNĐ
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Sản phẩm tặng kèm
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Combo sữa
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày áp dụng
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                04/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày kết thúc
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                12/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày tạo khuyến mãi
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                01/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Người tạo khuyến mãi
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Pax Thiên
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right promotion-action">
                                                        <button class="btn btn-lime collapse-close">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse-div collapse-promotion-date">
                                                <div class="col-sm-6 promotion-row promotion-coupon">
                                                    <div class="box box-lime promotion-date">
                                                        <div class="box-header with-border">
                                                            <h4 class="box-title promotion-title">Gia hạn thời gian khuyến mãi <span>Mua sắm thả ga, hít hà hít hà</span></h4>
                                                        </div><!-- /.box-header -->
                                                        <div class="box-body promotion-content">
                                                            <p>
                                                                Thời gian áp dụng của khuyến mãi <strong>Mua sắm thả ga, hít hà hít hà</strong> hiện tại là:
                                                            </p>
                                                            <div class="row">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày áp dụng
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                04/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày kết thúc
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                12/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <p>
                                                                Bạn muốn gia hạn thời gian áp dụng khuyến mãi <strong>Mua sắm thả ga, hít hà hít hà</strong> đến ngày:
                                                            </p>
                                                            <div class="date-picker-group promotion-date-picker">
                                                                <input class="form-control date-picker" id="" name="date-picker" placeholder="Chọn ngày-tháng-năm" readonly="" type="text">
                                                                <span class="calendar-icon l-calendar-icon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right promotion-action">
                                                        <a class="cancel-btn collapse-close" href="">Hủy bỏ</a>
                                                        <input  class="btn btn-lime" type="button" name="" value="Đồng ý">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="collapse-toggle-nav">
                                        <td>
                                            2
                                        </td>
                                        <td>
                                            Mua sắm thả ga, hít hà hít hà
                                            <p class="toggle-row">
                                                <a class="action-text multi-collapse-toggle show-promotion-detail" href="">Xem chi tiết</a>
                                            </p>
                                        </td>
                                        <td>
                                            Tặng quà cho đơn hàng có giá trị trên {x} VNĐ
                                        </td>
                                        <td class="text-center">
                                            <p class="date">04/11/2015 - 11:00:35</p>
                                            <p class="date">12/11/2015 - 11:00:35</p>
                                            <p class="toggle-row">
                                                <a class="action-text multi-collapse-toggle show-promotion-date" href="">Gia hạn</a>
                                            </p>
                                        </td>
                                        <td class="text-center">Đã dừng</td>
                                        <td class="text-right">
                                            <button class="btn btn-primary stop-promotion-btn">Kích hoạt</button>
                                        </td>
                                    </tr>
                                    <tr class="collapse-row">
                                        <td class="collapse-inner" colspan="9">
                                            <div class="collapse-div collapse-promotion-detail">
                                                <div class="col-sm-6 promotion-row promotion-coupon">
                                                    <div class="box box-lime promotion-detail">
                                                        <div class="box-header with-border">
                                                            <h4 class="box-title promotion-title">Chi tiết khuyến mãi <span>Mua sắm thả ga, hít hà hít hà</span></h4>
                                                        </div><!-- /.box-header -->
                                                        <div class="box-body promotion-content">
                                                            <div class="row">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Tên chương trình
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Mua sắm thả ga, hít hà hít hà
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Loại khuyến mãi
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Tặng quà cho đơn hàng có giá trị trên {x} VNĐ
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Giá trị đơn hàng tối thiểu để được tặng quà
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                200.000 VNĐ
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Sản phẩm tặng kèm
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Combo sữa
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày áp dụng
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                04/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày kết thúc
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                12/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày tạo khuyến mãi
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                01/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Người tạo khuyến mãi
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                Pax Thiên
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right promotion-action">
                                                        <button class="btn btn-lime collapse-close">Đóng</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse-div collapse-promotion-date">
                                                <div class="col-sm-6 promotion-row promotion-coupon">
                                                    <div class="box box-lime promotion-date">
                                                        <div class="box-header with-border">
                                                            <h4 class="box-title promotion-title">Gia hạn thời gian khuyến mãi <span>Mua sắm thả ga, hít hà hít hà</span></h4>
                                                        </div><!-- /.box-header -->
                                                        <div class="box-body promotion-content">
                                                            <p>
                                                                Thời gian áp dụng của khuyến mãi <strong>Mua sắm thả ga, hít hà hít hà</strong> hiện tại là:
                                                            </p>
                                                            <div class="row">
                                                                <table class="table">
                                                                    <tbody>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày áp dụng
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                04/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <th class="col-md-6">
                                                                                Ngày kết thúc
                                                                            </th>
                                                                            <td class="col-md-6">
                                                                                12/11/2015 - 11:00:35
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                            <p>
                                                                Bạn muốn gia hạn thời gian áp dụng khuyến mãi <strong>Mua sắm thả ga, hít hà hít hà</strong> đến ngày:
                                                            </p>
                                                            <div class="date-picker-group promotion-date-picker">
                                                                <input class="form-control date-picker" id="" name="date-picker" placeholder="Chọn ngày-tháng-năm" readonly="" type="text">
                                                                <span class="calendar-icon l-calendar-icon">
                                                                    <i class="fa fa-calendar"></i>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right promotion-action">
                                                        <a class="cancel-btn collapse-close" href="">Hủy bỏ</a>
                                                        <input  class="btn btn-lime" type="button" name="" value="Đồng ý">
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</main>
{% endblock %}
