{% extends "_layout.html" %}
{% block page-container %}
{% include "_shop-setting-header.html" %}
<main class="promotion">
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Danh sách chương trình khuyến mãi</h3>
                    <a class="btn btn-default pull-right" href="10-promotion.html">+ Tạo chương trình khuyến mãi mới</a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            <li>
                                <a href="10.1-promotion-coupon.html">Khuyến mãi code coupon</a>
                            </li>
                            <li class="active">
                                <a href="10.2-promotion-for-order.html">Tặng quà cho đơn hàng</a>
                            </li>
                            <li>
                                <a aria-expanded="true" href="10.3-promotion-for-product.html">Tặng quà cho sản phẩm</a>
                            </li>
                        </ul>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</main>
{% endblock %}
