{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
  <div class="container">
    <div class="row">
      <h1 class="page-title">Sản phẩm</h1>
      <ol class="breadcrumb">
        <li><a href="2.1-categories.html">Danh mục sản phẩm</a></li>
        <li><a href="2.3-product.html" class="active">Sản phẩm</a></li>
      </ol>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
    	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Tạo sản phẩm mới</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Hình ảnh sản phẩm</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form">
                    <div class="row">
                      <div class="product-img-left">
                        <div class="img-box">
                          <img src="assets/images/myface.png" alt="myface"/>
                        </div>
                        <label><ins class="lime-highlight">Lưu ý:</ins></label>
                        <p class="noted">Kích thước hình ảnh là 180 x 180 pixel Định dạng hình là *.png , *.jpeg , *.jpg</p>
                      </div>
                      <div class="product-img-right">
                        <label>Thêm hình sản phẩm</label>
                        <div class="img-box">
                          <img src="assets/images/product/product-1.jpg" alt="myface"/>
                        </div>
                        <div class="img-box">
                          <img src="assets/images/product/product-2.jpg" alt="myface"/>
                        </div>
                        <div class="img-box">
                          <img src="assets/images/product/product-3.jpg" alt="myface"/>
                        </div>
                        <div class="img-box">
                          <img src="assets/images/product/product-3.jpg" alt="myface"/>
                        </div>
                        <div class="img-box">
                          <img src="assets/images/product/product-1.jpg" alt="myface"/>
                        </div>
                        <div class="img-box">
                          <span>+</span>
                          <input class="upload-btn" id="upload-img-btn" type="file" name="pic" accept="image/*">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>
            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Thông tin sản phẩm</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tên sản phẩm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                        <label class="error">Vui lòng nhập tên sản phẩm</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Nhóm sản phẩm</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn nhóm sản phẩm</option>
                          <option>Thiết bị số</option>
                          <option>Thời trang nam</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Mã sản phẩm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Nhập mã sản phẩm">
                        <label class="error">Vui lòng nhập mã sản phẩm</label>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Giá bán sản phẩm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Nhập giá sản phẩm">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số lượng sản phẩm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Nhập số lượng sản phẩm">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Khối lượng sản phẩm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="Nhập khối lượng sản phẩm">
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Thông tin giới thiệu sản phẩm</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form editor-form">
                    <div class="form-group">
                      
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>
            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Thông số sản phẩm</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form">
                    
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Trạng thái sản phẩm</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body">
                    <div class="col-md-3 form-group radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="status" id="" value="" checked=""><span class="circle"></span><span class="check"></span>Không kích hoạt sản phẩm                                
                      </label>
                    </div>
                    <div class="col-md-3 form-group radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="status" id="" value=""><span class="circle"></span><span class="check"></span>Kích hoạt sản phẩm                                
                      </label>
                    </div>
                    <div class="col-md-6">
                      <div class="col-md-6 form-group radio">
                        <label class="radio-material-blue">
                          <input type="radio" name="status" id="" value=""><span class="circle"></span><span class="check"></span>Chọn ngày kích hoạt sản phẩm                                
                        </label>
                      </div>
                      <div class="col-md-6 form-group date-picker-group">
                        <input type="text" name="date-picker" id="date-picker" class="form-control date-picker" placeholder="09/04/2015 10:20">
                        <span class="calendar-icon l-calendar-icon"><i class="fa fa-calendar"></i></span>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <div class="form-group clearfix">
            <input type="button" class="btn btn-lime pull-right" data-toggle="modal" data-target="#alert-modal" value="Lưu sản phẩm">
          </div>
          <div class="form-group text-right clearfix">
            <a href="2.2-create-category.html" class="btn-update">Lưu & tiếp tục tạo sản phẩm khác <i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}