{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
  <div class="container">
    <div class="row">
      <h1 class="page-title">Sản phẩm</h1>
      <ol class="breadcrumb">
        <li><a href="2.1-categories.html" class="active">Danh mục sản phẩm</a></li>
        <li><a href="2.3-product.html">Sản phẩm</a></li>
      </ol>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
    	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Tạo khách hàng mới</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <div class="form-group clearfix">
            <input type="submit" class="btn btn-lime pull-right" value="Tạo danh mục">
          </div>
          <div class="form-group text-right clearfix">
            <a href="2.2-create-category.html" class="btn-update">Lưu & tiếp tục tạo khách hàng khác <i class="fa fa-caret-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}