{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
    <div class="container">
        <div class="row">
            <h1 class="page-title">Khách hàng</h1><a class="pull-right hdsd-link" href="https://myface.vn/support/manage_customer" target="_blank"><i class="fa fa-question-circle"></i> <span>Hướng dẫn sử dụng</span></a>
        </div>
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tạo khách hàng mới</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <h4 class="col-xs-12 address-list-title">Sổ địa chỉ</h4>
                        <div class="col-md-6">
                            <div class="box box-lime box-address">
                                <p class="title-address">Địa chỉ 1</p>
                                <div class="address-infor">
                                    <p class="name-person">Phạm Phương Du</p>
                                    <p class="address">Số 120, Lê Đức Thọ, Phường 17, Quận Gò Vấp, Thành Phố Hồ Chí Minh</p>
                                    <p class="phonenumber">
                                        Điện thoại:
                                        <a href="tel:+84902559591">0902559591</a>
                                    </p>
                                    <p class="email">
                                        Email:
                                        <a href="mailto:phuongdu@gmail.com">phuongdu@gmail.com</a>
                                    </p>
                                    <p class="update-address">
                                        <a class="link-btn remove-address" href="">Xóa địa chỉ</a>
                                        <button class="btn btn-default edit-address" type="button">Sửa địa chỉ</button>
                                    </p>
                                </div>

                                <div class="edit-address-form">
                                    <div class="form-group">
                                        <label class="control-label">Họ tên người nhận hàng</label>
                                        <div class="block-row row">
                                            <div class="rg-group-1-1">
                                                <div class="default-dropdown">
                                                    <select class="form-control">
                                                        <option>
                                                            Anh
                                                        </option>
                                                        <option>
                                                            Chị
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="rg-group-1-2">
                                                <input class="form-control" placeholder="Họ tên người nhận hàng" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="control-label">Điện thoại:</label>
                                            <input class="form-control" type="text" placeholder="Vd: 0123.456.7899">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Email <span>(để gửi thông tin đơn hàng)</span></label>
                                            <input class="form-control" type="email" placeholder="Vd: nguyenvanan@gmail.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Địa chỉ</label>
                                        <select class="form-control">
                                            <option>Chọn Tỉnh/Thành Phố</option>
                                            <option>Thành phố Hồ Chí Minh</option>
                                            <option>Đà Nẵng</option>
                                            <option>Nghệ An</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 district">
                                            <select class="form-control">
                                                <option>
                                                    Chọn Quận/Huyện
                                                </option>
                                                <option>
                                                    Quỳnh Lưu
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 village">
                                            <select class="form-control">
                                                <option>
                                                    Chọn Phường/Xã
                                                </option>
                                                <option>
                                                    Quỳnh Lộc
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control street" type="text" placeholder="Đường/ Phố, số nhà, ngõ ngách, hẻm...">
                                    </div>
                                    <div class="form-group update-action">
                                        <a class="cancel-btn cancel-edit" href="">Hủy bỏ</a>
                                        <button class="btn btn-lime edit-address" type="button">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-lime box-address">
                                <p class="title-address">Địa chỉ 2</p>
                                <div class="address-infor">
                                    <p class="name-person">Phạm Phương Du</p>
                                    <p class="address">Số 120, Lê Đức Thọ, Phường 17, Quận Gò Vấp, Thành Phố Hồ Chí Minh</p>
                                    <p class="phonenumber">
                                        Điện thoại
                                        <a href="tel:+84902559591">0902559591</a>
                                    </p>
                                    <p class="email">
                                        Email:
                                        <a href="mailto:phuongdu@gmail.com">phuongdu@gmail.com</a>
                                    </p>
                                    <p class="update-address">
                                        <a class="link-btn remove-address" href="">Xóa địa chỉ</a>
                                        <button class="btn btn-default edit-address" type="button">Sửa địa chỉ</button>
                                    </p>
                                </div>

                                <div class="edit-address-form">
                                    <div class="form-group">
                                        <label class="control-label">Họ tên người nhận hàng</label>
                                        <div class="block-row row">
                                            <div class="rg-group-1-1">
                                                <div class="default-dropdown">
                                                    <select class="form-control">
                                                        <option>
                                                            Anh
                                                        </option>
                                                        <option>
                                                            Chị
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="rg-group-1-2">
                                                <input class="form-control" placeholder="Họ tên người nhận hàng" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label class="control-label">Điện thoại</label>
                                            <input class="form-control" type="text" placeholder="Vd: 0123.456.7899">
                                        </div>
                                        <div class="col-md-6">
                                            <label class="control-label">Email <span>(để gửi thông tin đơn hàng)</span></label>
                                            <input class="form-control" type="email" placeholder="Vd: nguyenvanan@gmail.com">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Địa chỉ</label>
                                        <select class="form-control">
                                            <option>Chọn Tỉnh/Thành Phố</option>
                                            <option>Thành phố Hồ Chí Minh</option>
                                            <option>Đà Nẵng</option>
                                            <option>Nghệ An</option>
                                        </select>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6 district">
                                            <select class="form-control">
                                                <option>
                                                    Chọn Quận/Huyện
                                                </option>
                                                <option>
                                                    Quỳnh Lưu
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-6 village">
                                            <select class="form-control">
                                                <option>
                                                    Chọn Phường/Xã
                                                </option>
                                                <option>
                                                    Quỳnh Lộc
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control street" type="text" placeholder="Đường/ Phố, số nhà, ngõ ngách, hẻm...">
                                    </div>
                                    <div class="form-group update-action">
                                        <a class="cancel-btn cancel-edit" href="">Hủy bỏ</a>
                                        <button class="btn btn-lime edit-address" type="button">Cập nhật</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <input class="btn btn-lime pull-right create-new-address" type="button" value="Thêm địa chỉ mới">
                            <div class="edit-address-form new-address-form">
                                <div class="form-group">
                                    <label class="control-label">Họ tên người nhận hàng</label>
                                    <div class="block-row row">
                                        <div class="rg-group-1-1">
                                            <div class="default-dropdown">
                                                <select class="form-control">
                                                    <option>
                                                        Anh
                                                    </option>
                                                    <option>
                                                        Chị
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="rg-group-1-2">
                                            <input class="form-control" placeholder="Họ tên người nhận hàng" type="text">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6">
                                        <label class="control-label">Điện thoại</label>
                                        <input class="form-control" type="text" placeholder="Vd: 0123.456.7899">
                                    </div>
                                    <div class="col-md-6">
                                        <label class="control-label">Email <span>(để gửi thông tin đơn hàng)</span></label>
                                        <input class="form-control" type="email" placeholder="Vd: nguyenvanan@gmail.com">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Địa chỉ</label>
                                    <select class="form-control">
                                        <option>Chọn Tỉnh/Thành Phố</option>
                                        <option>Thành phố Hồ Chí Minh</option>
                                        <option>Đà Nẵng</option>
                                        <option>Nghệ An</option>
                                    </select>
                                </div>
                                <div class="form-group row">
                                    <div class="col-md-6 district">
                                        <select class="form-control">
                                            <option>
                                                Chọn Quận/Huyện
                                            </option>
                                            <option>
                                                Quỳnh Lưu
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-md-6 village">
                                        <select class="form-control">
                                            <option>
                                                Chọn Phường/Xã
                                            </option>
                                            <option>
                                                Quỳnh Lộc
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <input class="form-control street" type="text" placeholder="Đường/ Phố, số nhà, ngõ ngách, hẻm...">
                                </div>
                                <div class="form-group update-action">
                                    <a class="cancel-btn cancel-edit" href="">Hủy bỏ</a>
                                    <button class="btn btn-lime add-address" type="button">Thêm</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="form-group clearfix">
                        <input class="btn btn-lime pull-right" data-target="#alert-modal" data-toggle="modal" type="button" value="Tạo danh mục">
                    </div>
                    <div class="form-group text-right clearfix">
                        <a class="btn-update" href="2.2-create-category.html">Lưu & tiếp tục tạo khách hàng khác <i class="fa fa-caret-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
