{% set current_page = 'invoice-list' %}
{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
	<div class="container">
		<div class="row">
			<h1 class="page-title">Đơn hàng</h1>
			<ol class="breadcrumb">
				<li><a href="4.1-invoice-list.html"  class="active">Xem đơn hàng</a></li>
				<li><a href="4.4-invoice-help.html">Yêu cầu hỗ trợ đơn hàng</a></li>
			</ol>
		</div>
	</div>
</section>
<main>
	<div class="container">
		<div class="row">
			<div class="box">
				<div class="box-header with-border">
					<h3 class="box-title">Xem đơn hàng</h3>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
          <!--search-->
          <div class="row search-container">
            <!--form start-->
            <form role="form">
              <div class="col-xs-10">
                <div class="row form-group">
                  <p class="col-xs-12">Thời gian</p>
                  <p class="col-xs-1 control-label">Từ</p>
                  <div class="col-xs-4">
                    <div class="date-picker-group">
                      <input type="text" name="date-picker" id="" class="form-control date-picker" placeholder="Chọn ngày-tháng-năm" readonly>
                      <span class="calendar-icon l-calendar-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                  <p class="col-xs-1 col-xs-offset-2 control-label">Đến</p>
                  <div class="col-xs-4">
                    <div class="date-picker-group">
                      <input type="text" name="date-picker" id="" class="form-control date-picker" placeholder="Chọn ngày-tháng-năm" readonly>
                      <span class="calendar-icon l-calendar-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-3">
                    <div class="form-group">
                      <p for="">Tên khách hàng</p>
                      <input type="text" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="col-xs-3">
                    <div class="form-group">
                      <p for="">Người nhận hàng</p>
                      <input type="text" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="col-xs-4">
                    <div class="form-group">
                      <p for="">Email</p>
                      <input type="email" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                  <div class="col-xs-2">
                    <div class="form-group">
                      <p for="">Điện thoại</p>
                      <input type="tel" class="form-control" id="" placeholder="">
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-xs-2 create-cate-side-right">
                <div class="form-group clearfix">
                  <input type="button" class="btn btn-lime" value="Tìm kiếm đơn hàng">
                </div>
                <div class="form-group">
                  <a href="" class="btn-update" id="show-advance-search-btn">Tìm kiếm nâng cao <br> <i class="fa fa-caret-down"></i></a>
                </div>
              </div>
            </form>
          </div>

          <!--advance-search-->
          <div class="advance-search" id="advance-search">
            <div class="box box-lime">
              <div class="box-header with-border">
                <h4 class="box-title">Tìm kiếm nâng cao</h4>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <form role="form">
                  <div class="row">
                    <label class="col-xs-12">Trạng thái đơn hàng</label>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox" checked> 01. Đặt hàng thành công
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 02. Đã xác nhận
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 03. Chưa liên hệ được
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 04. Đang chuẩn bị hàng
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 05. Đã đóng gói
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 06. Đang giao hàng
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 07. Đã giao hàng
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 08. Hủy đơn hàng 
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 09. Thanh toán thành công
                      </label>
                    </div>
                    <div class="checkbox col-xs-3">
                      <label>
                        <input type="checkbox"> 10. Thanh toán thất bại
                      </label>
                    </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-12">Vận chuyển</label>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox" checked> Miễn phí vận chuyển
                        </label>
                      </div>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox"> Tính phí vận chuyển
                        </label>
                      </div>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox"> Nhận hàng tại shop
                        </label>
                      </div>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox"> Quantium
                        </label>
                      </div>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox"> Giao hàng nhanh
                        </label>
                      </div>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox"> Viettel Post
                        </label>
                      </div>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox"> Pro Ship
                        </label>
                      </div>
                  </div>
                  <div class="row">
                    <label class="col-xs-12">Đơn hàng</label>
                      <div class="checkbox col-xs-3">
                        <label>
                          <input type="checkbox" checked> Có sử dụng coupon
                        </label>
                      </div> 
                  </div>
                  <div class="form-group clearfix">
                    <input type="button" class="btn btn-lime" id="advance-search-btn" value="Tìm kiếm">
                  </div>
                </form>
              </div>
            </div>
          </div>

					<table class="table table-striped">
						<thead>
							<tr>
								<th class="col-xs-1">ID</th>
								<th style="width: 235px;">Trạng thái đơn hàng</th>
								<th class="text-center" style="width: 195px;">Vận chuyển</th>
								<th class="col-xs-2 text-center">Tên khách hàng</th>
								<th class="col-xs-2 text-center">Ngày đặt hàng</th>
								<th class="col-xs-1 text-center">Tổng tiền</th>
								<th class="col-xs-1"></th>
							</tr>
						</thead>
						<tbody>
							{% for x in [1,2,3,4,5,6]%}
							<tr>
								<td><a href="4.2-invoice-detail.html" class="cate-name">12486578929</a></td>
								<td>
									<select class="form-control">
										<option>Đặt hàng thành công</option>
										<option>Đã xác nhận</option>
										<option>Chưa liên lạc được</option>
										<option>Đang chuẩn bị hàng</option>
										<option>Đã đóng gói</option>
										<option>Đang giao hàng</option>
										<option>Đã giao hàng</option>
										<option>Hủy đơn hàng</option>
										<option>Thanh toán thành công</option>
										<option>Thanh toán thất bại</option>
									</select>
								</td>
								<td>
									<select class="form-control">
										<option>Tính phí vận chuyển</option>
										<option>Miễn phí vận chuyển</option>
										<option>Nhận hàng tại shop</option>
										<option>Quantium</option>
										<option>Viet Post</option>
									</select>
								</td>
								<td>
									<p><a href="3.3-update-customer.html">Phạm Ngọc Thiên Thư</a></p>
									<p class="in-num">(32 đơn hàng)</p>
								</td>
								<td class="text-center">04/11/2015 - 11:00:35</td><!--format 24 giờ -->
								<td>
									<label>1.000.000<ins>đ</ins></label>
								</td>
								<td>
									<a href="3.3-update-customer.html" class="btn btn-default"> Xem</a>
								</td>
							</tr>
							<tr>
								<td><a href="4.2-invoice-detail.html" class="cate-name">12486578929</a></td>
								<td>
									<select class="form-control">
										<option>Thanh toán thành công</option>
										<option>Đặt hàng thành công</option>
										<option>Đã xác nhận</option>
										<option>Chưa liên lạc được</option>
										<option>Đang chuẩn bị hàng</option>
										<option>Đã đóng gói</option>
										<option>Đang giao hàng</option>
										<option>Đã giao hàng</option>
										<option>Hủy đơn hàng</option>
										<option>Thanh toán thất bại</option>
									</select>
								</td>
								<td>
									<select class="form-control">
										<option>Quantium</option>
										<option>Tính phí vận chuyển</option>
										<option>Miễn phí vận chuyển</option>
										<option>Nhận hàng tại shop</option>
										<option>Viet Post</option>
									</select>
								</td>
								<td>
									<p><a href="3.3-update-customer.html">Hoàng Minh</a></p>
									<p class="in-num">(1 đơn hàng)</p>
								</td>
								<td class="text-center">04/11/2015 - 20:00:10</td><!--format 24 giờ -->
								<td>
									<label>4.000.000<ins>đ</ins></label>
								</td>
								<td>
									<a href="3.3-update-customer.html" class="btn btn-default"> Xem</a>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<!-- /.box-body -->
				<div class="box-footer clearfix">
					<div class="row">
						<div class="col-xs-12">
							<label class="lime-highlight">Tổng đơn hàng: <ins>325</ins></label>
						</div>
					</div>
					<div class="pull-right">
						<ul class="pagination pagination-sm no-margin">
							<li><a href="#" class="first"><i class="fa fa-step-backward"></i></a></li>
							<li><a href="#" class="prev">Trước</a></li>
							<li><span class="current-pages">Trang 1/1623</span></li>
							<li><a href="#" class="next">Sau</a></li>
							<li><a href="#" class="last"><i class="fa fa-step-forward"></i></a></li>
						</ul>
						<form id="pagi-form" class="pagi-form" method="get">
							<label>
								<select name="" class="form-control form-select">
										<option value="10" selected="selected">10 dòng/trang</option>
										<option value="50">50 dòng/trang</option>
										<option value="100">100 dòng/trang</option>
								</select>
							</label>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}