{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
  <div class="container">
    {% include "_invoice-header.html" %}
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
    	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Đơn hàng 12486578929</h3>
          <p href="3.2-create-customer.html" class="pull-right">Tổng giá trị: <label class="lime-highlight">12.356.000<ins>đ</ins></label></p>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="btn-group form-group">
            <button type="button" class="btn btn-lime">In đơn hàng</button>
            <a href="4.3.1-invoice-detail-edit-1.html" class="btn btn-gray">Sửa đơn hàng</a>
          </div>
          <div class="pull-right invoice-button-group">
            <a href="4.2-invoice-detail.html"><i class="fa fa-angle-left"></i> Đơn hàng cũ hơn</a>
            <a href="4.2-invoice-detail.html">Đơn hàng mới hơn <i class="fa fa-angle-right"></i></a>
          </div>

          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="false">Thông tin đơn hàng</a></li>
              <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Yêu cầu hỗ trợ</a></li>
              <li class=""><a href="#tab_3" data-toggle="tab" aria-expanded="true">Lịch sử đơn hàng</a></li>
              <li class=""><a href="#tab_4" data-toggle="tab" aria-expanded="true">Lịch sử giao hàng</a></li>
            </ul>
            <div class="tab-content invoice-tab-content form-horizontal">
              <!--tab-1-->
              <div class="invoice-tab-1 tab-pane active" id="tab_1">
                <form method="">
                  <div class="row invoice-row-1">
                    <div class="col-xs-4">
                      <p class="">Đơn hàng <strong>123456789</strong> của (chị) <strong>Phạm Ngọc Thiên Thư</strong>, ngày đặt hàng <strong>04/11/2015 - 11:00:35</strong></p>
                    </div>
                    <div class="col-xs-8 invoice-row1-inner">
                      <div class="col-xs-3 invoice-row1-inner-1">
                        <span>Khóa đơn hàng</span>
                        <div class="col-xs-6 pull-right">
                          <select class="form-control">
                            <option>Mở khóa</option>
                            <option>Khóa</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-5 invoice-row1-inner-2">
                        <span>Trạng thái</span>
                        <div class="pull-right">
                          <select class="form-control">
                            <option>Đặt hàng thành công</option>
                            <option>Đã xác nhận</option>
                            <option>Chưa liên lạc được</option>
                            <option>Đang chuẩn bị hàng</option>
                            <option>Đã đóng gói</option>
                            <option>Đang giao hàng</option>
                            <option>Đã giao hàng</option>
                            <option>Hủy đơn hàng</option>
                            <option>Thanh toán thành công</option>
                            <option>Thanh toán thất bại</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-xs-4 invoice-row1-inner-3">
                        <span>Lý do hủy</span>
                        <div class="pull-right">
                          <select class="form-control">
                            <option>Chưa biết</option>
                            <option>Hủy bởi công ty</option>
                            <option>Hủy bởi khách hàng</option>
                            <option>Hủy do hết hàng</option>
                          </select>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="row invoice-row-2">
                    <div class="col-md-6">
                      <div class="box box-lime">
                        <div class="box-header with-border">
                          <h4 class="box-title">Địa chỉ thu tiền</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <p>(Chị)<strong>Phạm Ngọc Thiên Thư</strong></p>
                          <p>281/25/5, Đường Lê Văn Sỹ, Phường 12, Quận Phú Nhuận, Thành phố Hồ Chí Minh</p>
                          <p>Điện thoại liên lạc: <strong>0902148489</strong></p>
                        </div>
                      </div>
                      <!-- /.box -->
                    </div>

                    <div class="col-md-6">
                      <div class="box box-lime">
                        <div class="box-header with-border">
                          <h4 class="box-title">Địa chỉ giao hàng</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <p>(Chị)<strong>Phạm Ngọc Thiên Thư</strong></p>
                          <p>281/25/5, Đường Lê Văn Sỹ, Phường 12, Quận Phú Nhuận, Thành phố Hồ Chí Minh</p>
                          <p>Điện thoại liên lạc: <strong>0902148489</strong></p>
                        </div>
                      </div>
                      <!-- /.box -->
                    </div>
                  </div>

                  <div class="row invoice-row-3">
                    <div class="col-md-4">
                      <div class="box box-lime">
                        <div class="box-header with-border">
                          <h4 class="box-title">Phương thức thanh toán</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <p class="">Phương thức: Nhân viên giao hàng thu tiền tận nơi</p>
                          <p class="">Số tiền đã trả: <label>2.000.000<ins>đ</ins></label></p>
                        </div>
                      </div>
                      <!-- /.box -->
                    </div>

                    <div class="col-md-8">
                      <div class="box box-lime">
                        <div class="box-header with-border">
                          <h4 class="box-title">Thông tin vận chuyển</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <div class="form-group">
                            <div class="col-xs-6">
                              <p for="" class="col-xs-6 control-label">Công ty vận chuyển</p>
                              <div class="col-xs-6">
                                <select class="form-control">
                                  <option>Quantium</option>
                                  <option>Vietel-Post</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-xs-6">
                              <p for="" class="col-xs-6 control-label">Ngày lấy hàng</p>
                              <div class="col-md-6 date-picker-group">
                                <input type="text" name="date-picker" id="date-picker" class="form-control date-picker" placeholder="09/04/2015 10:20">
                              </div>
                            </div>
                          </div><!--/.form-group-->

                          <div class="form-group">
                            <div class="col-xs-6">
                              <p for="" class="col-xs-6 control-label">Cước vận chuyển</p>
                              <div class="col-xs-5">
                                <input type="text" class="form-control" id="" placeholder="0">
                              </div>
                              <ins class="price">đ</ins>
                            </div>
                            <div class="col-xs-6">
                              <p for="" class="col-xs-6 control-label">Ngày khách nhận hàng</p>
                              <div class="col-md-6 date-picker-group">
                                <input type="text" name="date-picker" id="date-picker" class="form-control date-picker" placeholder="09/04/2015 10:20">
                              </div>
                            </div>
                          </div><!--/.form-group-->

                          <div class="code-ship-group">
                            <p for="" class="col-xs-6 control-label">Mã vận chuyển</p>
                            <div class="col-xs-6">
                              <input type="text" class="form-control" id="" placeholder="MF011509242345">
                            </div>
                          </div><!--/.form-group-->
                        </div>
                      </div>
                      <!-- /.box -->
                    </div>
                  </div>

                  <div class="row invoice-row-4">
                    <div class="col-xs-12">
                      <table class="table table-striped order-product-table">
                        <thead>
                          <tr>
                            <th class="col-xs-1">STT</th>
                            <th class="col-xs-4">Tên sản phẩm</th>
                            <th class="col-xs-2 text-center">Giá bán</th>
                            <th class="col-xs-1 text-center">Số lượng</th>
                            <th class="col-xs-2 text-center">Khối lượng (gram)</th>
                            <th class="col-xs-2 text-center">Thành tiền</th>
                            <th class=""></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>01</td>
                            <td class="products-list">
                              <div class="item">
                                <div class="product-img">
                                  <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                                </div>
                                <div class="product-info">
                                  <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                                  <p class="product-properties">
                                    (Màu sắc: Xanh rêu, Size: M)
                                  </p>
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                              <span>1.000.000<ins>đ</ins></span>
                            </td>
                            <td class="text-center">01</td>
                            <td class="text-center">2000</td>
                            <td class="text-center">
                              <label>1.000.000<ins>đ</ins></label>
                            </td>
                            <td>
                              <a href="#" class="btn-action" data-toggle="modal" data-target="#nontifi-modal" title="xóa"><i class="fa fa-trash-o"></i></a>
                            </td>
                          </tr>
                          <tr>
                            <td>02</td>
                            <td class="products-list">
                              <div class="item">
                                <div class="product-img">
                                  <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                                </div>
                                <div class="product-info">
                                  <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                                </div>
                              </div>
                            </td>
                            <td class="text-center">
                              <span>1.000.000<ins>đ</ins></span>
                            </td>
                            <td class="text-center">01</td>
                            <td class="text-center">2000</td>
                            <td class="text-center">
                              <label>1.000.000<ins>đ</ins></label>
                            </td>
                            <td>
                              <a href="#" class="btn-action" data-toggle="modal" data-target="#nontifi-modal" title="xóa"><i class="fa fa-trash-o"></i></a>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                      <a href="4.3.1-invoice-detail-edit-1.html" class="btn btn-default">+ Thêm sản phẩm</a>
                    </div>
                  </div>

                  <div class="row invoice-row-5">
                    <div class="col-md-4">
                      <div class="box box-gray">
                        <div class="box-header with-border">
                          <h4 class="box-title">Ghi chú đơn hàng</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                      </div>
                      <!-- /.box -->
                    </div>

                    <div class="col-md-4">
                      <div class="box box-gray">
                        <div class="box-header with-border">
                          <h4 class="box-title">Ghi chú của khách hàng</h4>
                        </div>
                        <!-- /.box-header -->
                        <div class="box-body">
                          <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                      </div>
                      <!-- /.box -->
                    </div>

                    <div class="col-md-4">
                      <div class="table-responsive invoice-price">
                        <table class="table">
                          <tbody>
                            <tr>
                              <th>Tiền sản phẩm:</th>
                              <td>2.000.000<ins>đ</ins></td>
                            </tr>
                            <tr>
                              <th>Phí vận chuyển và thu tiền tận nơi: </th>
                              <td>44<ins>đ</ins></td>
                            </tr>
                            <tr>
                              <th>Phí thu tiền hộ: </th>
                              <td>15.000<ins>đ</ins></td>
                            </tr>
                            <tr>
                              <th>Giảm giá khuyến mãi:</th>
                              <td>0<ins>đ</ins></td>
                            </tr>
                            <tr>
                              <th>Giảm giá coupon:</th>
                              <td>0<ins>đ</ins></td>
                            </tr>
                            <tr>
                              <th>Mã coupon sử dụng:</th>
                              <td>Chưa có</td>
                            </tr>
                            <tr class="invoice-price-footer">
                              <th>Tổng tiền đơn hàng:</th>
                              <td><label class="lime-highlight">2.059.000<ins>đ</ins></label></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                      <!-- /.box -->
                    </div>
                  </div>

                  <div class="clearfix">
                    <input type="button" class="btn btn-lime pull-right" data-toggle="modal" data-target="#alert-modal" value="Lưu đơn hàng">
                  </div>
                </form>
              </div>
              <!-- /.tab-pane -->
              <!--tab-2--><!--yêu cầu hỗ trợ-->
              <div class="invoice-tab-2 tab-pane" id="tab_2">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="box box-gray">
                      <div class="box-header with-border">
                        <div class="pull-left invoice-tab2-header"><span>(Chị) <strong>Phạm Ngọc Thiên Thư</strong></span><span>Đơn hàng <a href="#">123456789</a></span></div>
                        <div class="pull-right"><span>Đã gửi yêu cầu lúc:  <i class="fa fa-clock-o"></i>  04/11/2015 - 11:00:35</span></div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <p>Mình muốn chọn áo màu đen, nhưng khi đăng ký mua thì không hiện lên áo màu đen???</p>
                        <div class="callout">
                          <textarea class="form-control" rows="3" placeholder=""></textarea>
                        </div>
                        <div class="clearfix">
                          <input type="button" class="btn btn-lime pull-right" value="Trả lời">
                        </div>
                      </div>
                    </div>
                    <!-- /.box -->
                  </div>

                  <div class="col-xs-12">
                    <div class="box box-gray">
                      <div class="box-header with-border">
                        <div class="pull-left invoice-tab2-header"><span>(Chị) <strong>Phạm Ngọc Thiên Thư</strong></span><span>Đơn hàng <a href="#">123456789</a></span></div>
                        <div class="pull-right"><span>Đã gửi yêu cầu lúc:  <i class="fa fa-clock-o"></i>  04/11/2015 - 11:00:35</span></div>
                      </div>
                      <!-- /.box-header -->
                      <div class="box-body">
                        <p>Mình muốn chọn áo màu đen, nhưng khi đăng ký mua thì không hiện lên áo màu đen???</p>
                        <div class="callout">
                          <p><strong>Team hỗ trợ MyFace</strong>  - Đã trả lời lúc:  04/11/2015 - 13:00:15</p>
                          <p>Chào bạn! Bạn có thể liên hệ tổng đài 06 2700 3838 phím 0 để được hỗ trợ nha bạn. Cảm ơn bạn.</p>
                        </div>
                      </div>
                    </div>
                    <!-- /.box -->
                  </div>
                </div>
              </div>
              <!-- /.tab-pane -->
              <!--tab-3-->
              <div class="invoice-tab-3 tab-pane" id="tab_3">
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center col-xs-2">Thời gian</th>
                      <th class="text-center col-xs-2">User</th>
                      <th class="text-center col-xs-2">Thao tác</th>
                      <th class="col-xs-4">Chi tiết</th>
                      <th class="text-center col-xs-2">Tổng tiền đơn hàng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <p>11:07:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>myFace</p>
                      </td>
                      <td class="text-center">
                        <p>Chuyển đơn hàng</p>
                      </td>
                      <td>
                        <p>Chuyển đơn hàng sang công ty vận chuyển</p>
                      </td>
                      <td class="text-center">
                        <p>100,000đ</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <p>11:00:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Hồng Ánh</p>
                      </td>
                      <td class="text-center">
                        <p>Sửa đơn hàng</p>
                      </td>
                      <td>
                        <p>Đặt hàng thành công -> Đã đóng gói <br>(<strong>Quantium</strong> giao hàng)</p>
                      </td>
                      <td class="text-center">
                        <p>100,000đ</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <p>11:00:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Hồng Ánh</p>
                      </td>
                      <td class="text-center">
                        <p>Sửa đơn hàng</p>
                      </td>
                      <td>
                        <p>Điểu chỉnh địa chỉ giao hàng: <br><strong><địa chỉ giao hàng cũ></strong> => <strong><địa chỉ giao hàng mới></strong> </p>
                      </td>
                      <td class="text-center">
                        <p>100,000đ</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <p>11:00:04 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Hồng Ánh</p>
                      </td>
                      <td class="text-center">
                        <p>Sửa đơn hàng</p>
                      </td>
                      <td>
                        <p>Điểu chỉnh số lượng sản phẩm: <br>(<strong>sku sản phẩm</strong>)  (<strong>+ số lượng sản phẩm</strong>)</p>
                      </td>
                      <td class="text-center">
                        <p>100,000đ</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <p>11:00:03 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Hồng Ánh</p>
                      </td>
                      <td class="text-center">
                        <p>Sửa đơn hàng</p>
                      </td>
                      <td>
                        <p>Thêm sản phẩm: <br>(<strong>sku sản phẩm</strong>)  (<strong>- số lượng sản phẩm</strong>)</p>
                      </td>
                      <td class="text-center">
                        <p>200,000đ</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <p>11:00:02 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Hồng Ánh</p>
                      </td>
                      <td class="text-center">
                        <p>Sửa đơn hàng</p>
                      </td>
                      <td>
                      <p>Xóa sản phẩm: (<strong>sku sản phẩm</strong>)</p>
                      </td>
                      <td class="text-center">
                        <p>100,000đ</p>
                      </td>
                    </tr>

                    <tr>
                      <td class="text-center">
                        <p>10:50:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Minh Hoàng</p>
                      </td>
                      <td class="text-center">
                        <p>Tạo đơn hàng</p>
                      </td>
                      <td>
                        <p>Đặt đơn hàng cho khách hàng</p>
                      </td>
                      <td class="text-center">
                        <p>200,000đ</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--tab-4-->
              <div class="invoice-tab-4 tab-pane" id="tab_4">
                <h4>Thông tin đơn hàng của công ty vận chuyển</h4>
                <table class="table table-invoice-information">
                  <thead>
                    <tr>
                      <th class="text-center">Đơn hàng</th>
                      <th class="text-center">Mã vận tải</th>
                      <th class="text-center">Ngày đặt hàng</th>
                      <th class="col-xs-4">Hình thức thanh toán - gói dịch vụ</th>
                      <th class="col-xs-4">Thông tin giao hàng</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td class="text-center">
                        <p>201610182743</p>
                      </td>
                      <td class="text-center">
                        <p>QSVN...</p>
                      </td>
                      <td class="text-center">
                        <p>11:07:05 01-11-2016</p>
                      </td>
                      <td>
                        <p>Người mua hàng không trả tiền sản phẩm. Người mua hàng trả phí vận chuyển - Giao bình thường</p>
                      </td>
                      <td>
                        <p>(Chị)<strong>Phạm Ngọc Thiên Thư</strong></p>
                        <p>281/25/5, Đường Lê Văn Sỹ, Phường 12, Quận Phú Nhuận, Thành phố Hồ Chí Minh</p>
                        <p>Điện thoại liên lạc: <strong>0902148489</strong></p>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="3"></td>
                      <td>
                        <label>Tổng thanh toán</label>
                      </td>
                      <td>
                        <label>12.356.000<ins>đ</ins></label>
                      </td>
                    </tr>
                  </tfoot>
                </table>

                <table class="table table-striped table-invoice-info-full">
                  <thead>
                    <tr>
                      <th class="">stt</th>
                      <th class="text-center">Thời gian</th>
                      <th class="text-center">Trạng thái</th>
                      <th class="col-xs-4">Diễn giải</th>
                      <th class="col-xs-4">Mô tả chi tiết</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <p>1</p>
                      </td>
                      <td class="text-center">
                        <p>11:07:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Picked up</p>
                      </td>
                      <td>
                        <p>Đã nhận hàng</p>
                      </td>
                      <td>
                        <p>Tên GSA</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>2</p>
                      </td>
                      <td class="text-center">
                        <p>11:07:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Handovered</p>
                      </td>
                      <td>
                        <p>Bưu điện bàn giao cho hub</p>
                      </td>
                      <td>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>3</p>
                      </td>
                      <td class="text-center">
                        <p>11:07:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Detained</p>
                      </td>
                      <td>
                        <p>Người nhận yêu cầu phát trễ</p>
                      </td>
                      <td>
                        <p>Gọi điện nhiều lần không bắt máy, mai phát lại lúc 10h sáng</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>4</p>
                      </td>
                      <td class="text-center">
                        <p>11:07:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Retured</p>
                      </td>
                      <td>
                        <p>Hoàn theo yêu cầu người gửi</p>
                      </td>
                      <td>
                        <p>Khách báo không đặt hàng</p>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <p>5</p>
                      </td>
                      <td class="text-center">
                        <p>11:07:05 01-11-2016</p>
                      </td>
                      <td class="text-center">
                        <p>Deliveried</p>
                      </td>
                      <td>
                        <p>Đã phát thành công</p>
                      </td>
                      <td>
                        <p>Đã hoàn lại về cho shop. Hoa đã nhận</p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.tab-pane -->
            </div>
            <!-- /.tab-content -->
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>

{% endblock %}
