{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
  <div class="container">
    <div class="row">
      <h1 class="page-title">Đơn hàng</h1>
      <ol class="breadcrumb">
        <li><a href="4.1-invoice-list.html" class="active">Xem đơn hàng</a></li>
        <li><a href="4.4-invoice-help.html">Yêu cầu hỗ trợ đơn hàng</a></li>
      </ol>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
    	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Đơn hàng 123456789</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="btn-group form-group">
            <button type="button" class="btn btn-gray">In đơn hàng</button>
            <a href="4.3-invoice-detail-edit.html" class="btn btn-lime">Sửa đơn hàng</a>
          </div>
          
          <div class="clearfix">Đây là sửa đơn hàng
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>

{% endblock %}