{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
  <div class="container">
    <div class="row">
      <h1 class="page-title">Đơn hàng</h1>
      <ol class="breadcrumb">
        <li><a href="4.1-invoice-list.html" class="active">Xem đơn hàng</a></li>
        <li><a href="4.4-invoice-help.html">Yêu cầu hỗ trợ đơn hàng</a></li>
      </ol>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
    	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Đơn hàng 123456789</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="btn-group form-group">
            <button type="button" class="btn btn-gray">In đơn hàng</button>
            <a href="4.3.1-invoice-detail-edit-1.html" class="btn btn-lime">Sửa đơn hàng</a>
          </div>
          
          <!--progress-row-->
          <div class="progress-row">
            <div class="progress-row-content">
              <a href="#" class="progress-link active">
                <span class="label label-default">1</span>
                <p>Thông tin đơn hàng</p>
              </a>
              <div class="progress sm">
                <div class="progress-bar" style="width: 100%"></div>
              </div>  
              <a href="#" class="progress-link">
                <span class="label label-default">2</span>
                <p>Thông tin giao hàng</p>
              </a>
              <div class="progress sm">
                <div class="progress-bar" style="width: 100%"></div>
              </div>
              <a href="#" class="progress-link">
                <span class="label label-default">3</span>
                <p>Tóm tắt đơn hàng</p>
              </a>
            </div>
          </div>

          <!--form-row-->
          <div class="row invoice-row-4">
            <div class="col-xs-12">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-xs-1">STT</th>
                    <th class="col-xs-5">Tên sản phẩm</th>
                    <th class="col-xs-2 text-center">Giá bán</th>
                    <th class="col-xs-1 text-center">Số lượng</th>
                    <th class="col-xs-2 text-center">Thành tiền</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>01</td>
                    <td class="products-list">
                      <div class="item">
                        <div class="product-img">
                          <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                        </div>
                        <div class="product-info">
                          <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g
                        </div>
                      </div>
                    </td>
                    <td class="text-center">
                      <span>1.000.000<ins>đ</ins></span>
                    </td>
                    <td class="text-right">01</td>
                    <td class="text-center">
                      <label>1.000.000<ins>đ</ins></label>
                    </td>
                    <td>
                      <a href="#" class="btn-action" data-toggle="modal" data-target="#nontifi-modal" title="xóa"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <td>02</td>
                    <td class="products-list">
                      <div class="item">
                        <div class="product-img">
                          <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                        </div>
                        <div class="product-info">
                          <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g
                        </div>
                      </div>
                    </td>
                    <td class="text-center">
                      <span>1.000.000<ins>đ</ins></span>
                    </td>
                    <td class="text-right">01</td>
                    <td class="text-center">
                      <label>1.000.000<ins>đ</ins></label>
                    </td>
                    <td>
                      <a href="#" class="btn-action" data-toggle="modal" data-target="#nontifi-modal" title="xóa"><i class="fa fa-trash-o"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              <input type="button" class="btn btn-default" value="+ Thêm sản phẩm">
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>

{% endblock %}