{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
  <div class="container">
    {% include "_invoice-header.html" %}
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
    	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Đơn hàng 123456789</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="btn-group form-group">
            <button type="button" class="btn btn-gray">In đơn hàng</button>
            <a href="4.3.1-invoice-detail-edit-1.html" class="btn btn-lime">Sửa đơn hàng</a>
          </div>

          <!--progress-row-->
          <div class="progress-row">
            <div class="progress-row-content">
              <a href="4.3.1-invoice-detail-edit-1.html" class="progress-link activeted">
                <span class="label label-default">1</span>
                <p>Thông tin đơn hàng</p>
              </a>
              <div class="progress sm  progress-light-blue">
                <div class="progress-bar"></div>
              </div>
              <a href="4.3.2-invoice-detail-edit-2.html" class="progress-link active">
                <span class="label label-default">2</span>
                <p>Thông tin giao hàng</p>
              </a>
              <div class="progress sm">
                <div class="progress-bar"></div>
              </div>
              <a href="4.3.3-invoice-detail-edit-3.html" class="progress-link">
                <span class="label label-default">3</span>
                <p>Tóm tắt đơn hàng</p>
              </a>
            </div>
          </div>


          <!--form-row-->
          <div class="row invoice-row-2">
            <div class="col-md-6 customer">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Địa chỉ thu tiền</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Họ tên</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">
                        <div class="col-sm-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender" id="" value=""><span class="circle"></span><span class="check">Anh</span>
                          </label>
                        </div>
                        <div class="col-md-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender" id="" value=""><span class="circle"></span><span class="check">Chị</span>
                          </label>
                        </div>
                        <div class="col-md-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender" id="" value="" checked=""><span class="circle"></span><span class="check">Chưa biết</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số điện thoại</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tỉnh / Thành phố</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Tỉnh / Thành phố</option>
                          <option>Hồ Chí Minh</option>
                          <option>Hà Nội</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Quận / Huyện</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Quận / Huyện</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Phường / Xã</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Phường / Xã</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Đường / Phố</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số Nhà / Ngõ / Hẻm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->

              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Địa chỉ giao hàng</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form" style="min-height: 0;">
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">
                        <div class="radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="address" id="" value="" checked=""><span class="circle"></span><span class="check">Địa chỉ giao hàng là địa chỉ thu tiền</span>
                          </label>
                        </div>
                        <div class="radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="address" id="" value=""><span class="circle"></span><span class="check">Địa chỉ giao hàng không phải là địa chỉ thu tiền</span>
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="is-same" style="display: none">
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Người nhận</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-sm-8 col-sm-offset-4">
                          <div class="col-sm-4 form-group radio">
                            <label class="radio-material-blue">
                              <input type="radio" name="gender2" id="" value=""><span class="circle"></span><span class="check">Anh</span>
                            </label>
                          </div>
                          <div class="col-md-4 form-group radio">
                            <label class="radio-material-blue">
                              <input type="radio" name="gender2" id="" value=""><span class="circle"></span><span class="check">Chị</span>
                            </label>
                          </div>
                          <div class="col-md-4 form-group radio">
                            <label class="radio-material-blue">
                              <input type="radio" name="gender2" id="" value="" checked=""><span class="circle"></span><span class="check">Chưa biết</span>
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Số điện thoại</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Tỉnh / Thành phố</label>
                        <div class="col-sm-8">
                          <select class="form-control">
                            <option>Chọn Tỉnh / Thành phố</option>
                            <option>Hồ Chí Minh</option>
                            <option>Hà Nội</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Quận / Huyện</label>
                        <div class="col-sm-8">
                          <select class="form-control">
                            <option>Chọn Quận / Huyện</option>
                            <option>abc</option>
                            <option>xyz</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Phường / Xã</label>
                        <div class="col-sm-8">
                          <select class="form-control">
                            <option>Chọn Phường / Xã</option>
                            <option>abc</option>
                            <option>xyz</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Đường / Phố</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="" class="col-sm-4 control-label">Số Nhà / Ngõ / Hẻm</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" id="" placeholder="">
                        </div>
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>

            <div class="col-md-6 shipping">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Chọn địa điểm lấy hàng (sản phẩm)</h4>
                </div><!-- /.box-header -->
                <div class="box-body form-horizontal">
                  <div class="clearfix">
                    <div class="radio">
                      <label class="radio-material-blue">
                        <input checked="checked" name="shop_address" type="radio" value="118"> Địa chỉ 1 : Taodan, Số 121/11, Đường Hưng Phú, Phường Mỹ Quý, Thành Phố Long Xuyên, Tỉnh An Giang</label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="box box-lime ship-and-pay">
                <div class="box-header with-border">
                  <h4 class="box-title">Vận chuyển và Thanh toán</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body form-horizontal">
                  <div class="radio">
                    <label class="radio-material-blue">
                      <input type="radio" id="radio_payment_1" checked="checked" name="payment_method" value="1">
                      <span class="check">1. Người mua hàng trả tiền sản phẩm + phí vận chuyển :</span>
                    </label>
                    <div class="form-horizontal invoice-promotion-box">
                      <div class="col-md-4">
                        <label class="radio-material-blue">
                          <input type="radio" name="" id="" value="">
                          <span class="check">Tiết kiệm</span>
                          <p class="lime-highlight">
                            <strong id="strong_text_fee">13.000</strong>
                            <ins> đ</ins>
                          </p>
                        </label>
                      </div>
                      <div class="col-md-4">
                        <label class="radio-material-blue">
                          <input type="radio" name="" id="" value="">
                          <span class="check">Bình thường</span>
                          <p class="lime-highlight">
                            <strong id="strong_text_fee">19.000</strong>
                            <ins> đ</ins>
                          </p>
                        </label>
                      </div>
                      <div class="col-md-4">
                        <label class="radio-material-blue">
                          <input type="radio" name="" id="" value="">
                          <span class="check">Miễn phí vận chuyển</span>
                        </label>
                      </div>
                      <div class="col-md-12">
                        <label class="radio-material-blue">
                          <input type="radio" name="" id="" value="">
                          <span class="check">Tùy chỉnh</span>
                        </label>
                        <div class="custom-ship">
                          <p class="color-label">VNĐ</p>
                          <input type="number" class="form-control" id="" placeholder="Nhập số tiền muốn thu">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="radio">
                    <label class="radio-material-blue">
                      <input class="radio_payment" type="radio" id="radio_payment_2" name="payment_method" value="2">
                      <span class="check">2. Người mua hàng không trả tiền sản phẩm. Người mua hàng trả phí vận chuyển</span>
                    </label>
                    <div class="form-horizontal invoice-promotion-box">
                      <div class="col-md-4">
                        <label class="radio-material-blue">
                          <input type="radio" name="" id="" value="">
                          <span class="check">Tiết kiệm</span>
                          <p class="lime-highlight">
                            <strong id="strong_text_fee">13.000</strong>
                            <ins> đ</ins>
                          </p>
                        </label>
                      </div>
                      <div class="col-md-4">
                        <label class="radio-material-blue">
                          <input type="radio" name="" id="" value="">
                          <span class="check">Bình thường</span>
                          <p class="lime-highlight">
                            <strong id="strong_text_fee">15.000</strong>
                            <ins> đ</ins>
                          </p>
                        </label>
                      </div>
                      <div class="col-md-4">
                        <label class="radio-material-blue">
                          <input type="radio" name="" id="" value="">
                          <span class="check">Hỏa tốc</span>
                          <p class="lime-highlight">
                            <strong id="strong_text_fee">27.000</strong>
                            <ins> đ</ins>
                          </p>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="radio">
                    <label class="radio-material-blue">
                      <input class="radio_payment" type="radio" id="radio_payment_3" name="payment_method" value="3">
                      <span class="check">3. Người bán hàng đã thu tiền hàng. Người bán hàng trả phí vận chuyển</span>
                    </label>
                  </div>
                </div>
              </div>
              <!-- /.box -->

              <div class="box box-lime transport">
                <div class="box-header with-border">
                  <h4 class="box-title">Cước vận chuyển (trả cho công ty vận chuyển)</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body form-horizontal">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <span>Phương thức giao hàng:
                        <strong>Tiết kiệm</strong>
                      </span>
                      <input readonly type="text" class="form-control" id="" placeholder="13.000">
                      <p class="color-label">VND</p>
                    </div>
                  </div><!--/.form-group-->
                </div>
              </div>
              <!-- /.box -->

              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Khuyến mãi</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body form-horizontal invoice-promotion-box">
                  <div class="col-xs-10">
                    <div class="radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="address" id="" value="" checked="">
                        <span class="circle"></span>
                        <span class="check">Tặng sản phẩm</span>
                      </label>
                    </div>
                    <select class="form-control">
                      <option>Chọn sản phẩm ...</option>
                      <option>Khăn tắm</option>
                    </select>
                  </div><!--/.form-group-->

                  <div class="col-xs-10">
                    <div class="radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="address" id="" value="">
                        <span class="circle"></span>
                        <span class="check">Giảm giá đơn hàng này theo</span>
                      </label>
                    </div>
                    <div class="label-group">
                      <p class="color-label">VND</p>
                      <input type="text" class="form-control" id="" placeholder="Nhập số tiền giảm...">
                    </div>
                  </div><!--/.form-group-->

                  <div class="col-xs-10">
                    <div class="radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="address" id="" value=""><span class="circle"></span><span class="check">Giảm giá đơn hàng này theo</span>
                      </label>
                    </div>
                    <div class="label-group">
                      <p class="color-label">%</p>
                      <input type="text" class="form-control" id="" placeholder="Nhập % giảm...">
                    </div>
                  </div><!--/.form-group-->
                </div><!--/.box-body-->
              </div>
              <!-- /.box -->

              <div class="col-xs-12">
                <input type="submit" class="btn btn-lime pull-right" value="Tiếp tục" onclick="location.href='4.3.3-invoice-detail-edit-3.html'">
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>

{% endblock %}
