{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
  <div class="container">
    <div class="row">
      <h1 class="page-title">Đơn hàng</h1>
      <ol class="breadcrumb">
        <li><a href="4.1-invoice-list.html" class="active">Xem đơn hàng</a></li>
        <li><a href="4.4-invoice-help.html">Yêu cầu hỗ trợ đơn hàng</a></li>
      </ol>
    </div>
  </div>
</section>
<main>
  <div class="container">
    <div class="row">
    	<div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Đơn hàng 123456789</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="btn-group form-group">
            <button type="button" class="btn btn-gray">In đơn hàng</button>
            <a href="4.3.1-invoice-detail-edit-1.html" class="btn btn-lime">Sửa đơn hàng</a>
          </div>
          
          <!--progress-row-->
          <div class="progress-row">
            <div class="progress-row-content">
              <a href="4.3.1-invoice-detail-edit-1.html" class="progress-link activeted">
                <span class="label label-default">1</span>
                <p>Thông tin đơn hàng</p>
              </a>
              <div class="progress sm  progress-light-blue">
                <div class="progress-bar"></div>
              </div>  
              <a href="4.3.2-invoice-detail-edit-2.html" class="progress-link active">
                <span class="label label-default">2</span>
                <p>Thông tin giao hàng</p>
              </a>
              <div class="progress sm">
                <div class="progress-bar"></div>
              </div>
              <a href="4.3.3-invoice-detail-edit-3.html" class="progress-link">
                <span class="label label-default">3</span>
                <p>Tóm tắt đơn hàng</p>
              </a>
            </div>
          </div>


          <!--form-row-->
          <div class="row invoice-row-2">
            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Địa chỉ thu tiền</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Họ tên</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">
                        <div class="col-sm-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender" id="" value=""><span class="circle"></span><span class="check">Anh</span>                                
                          </label>
                        </div>
                        <div class="col-md-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender" id="" value=""><span class="circle"></span><span class="check">Chị</span>                               
                          </label>
                        </div>
                        <div class="col-md-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender" id="" value="" checked=""><span class="circle"></span><span class="check">Chưa biết</span>                               
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số điện thoại</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tỉnh / Thành phố</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Tỉnh / Thành phố</option>
                          <option>Hồ Chí Minh</option>
                          <option>Hà Nội</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Quận / Huyện</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Quận / Huyện</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Phường / Xã</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Phường / Xã</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Đường / Phố</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số Nhà / Ngõ / Hẻm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->

              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Địa chỉ giao hàng</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal">
                  <div class="box-body product-form">
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">
                        <div class="radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="address" id="" value="" checked=""><span class="circle"></span><span class="check">Địa chỉ giao hàng là địa chỉ thu tiền</span>                               
                          </label>
                        </div>
                        <div class="radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="address" id="" value=""><span class="circle"></span><span class="check">Địa chỉ giao hàng không phải là địa chỉ thu tiền</span>                      
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Người nhận</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-sm-8 col-sm-offset-4">
                        <div class="col-sm-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender2" id="" value=""><span class="circle"></span><span class="check">Anh</span>                                
                          </label>
                        </div>
                        <div class="col-md-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender2" id="" value=""><span class="circle"></span><span class="check">Chị</span>                               
                          </label>
                        </div>
                        <div class="col-md-4 form-group radio">
                          <label class="radio-material-blue">
                            <input type="radio" name="gender2" id="" value="" checked=""><span class="circle"></span><span class="check">Chưa biết</span>                               
                          </label>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số điện thoại</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tỉnh / Thành phố</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Tỉnh / Thành phố</option>
                          <option>Hồ Chí Minh</option>
                          <option>Hà Nội</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Quận / Huyện</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Quận / Huyện</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Phường / Xã</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Phường / Xã</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Đường / Phố</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số Nhà / Ngõ / Hẻm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>

            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Vận chuyển và Thanh toán</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body form-horizontal">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <p for="" class="col-xs-4 control-label">Công ty vận chuyển</p>
                      <div class="col-xs-6">
                        <select class="form-control">
                          <option>Quantium</option>
                          <option>Vietel-Post</option>
                        </select>
                      </div>
                    </div>
                  </div><!--/.form-group-->

                  <div class="form-group">
                    <div class="col-xs-12">
                      <p for="" class="col-xs-4 control-label">Thanh toán</p>
                      <div class="col-xs-6">
                        <select class="form-control">
                          <option>Thanh toán khi giao hàng</option>
                          <option>Chuyển khoản</option>
                        </select>
                      </div>
                    </div>
                  </div><!--/.form-group-->
                </div>
              </div>
              <!-- /.box -->

              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Cước vận chuyển</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body form-horizontal">
                  <div class="form-group">
                    <div class="col-xs-12">
                      <p for="" class="col-xs-4 control-label">Cước phí</p>
                      <div class="col-sm-6">
                        <input type="text" class="form-control" id="" placeholder="Nhập phí vận chuyển">
                      </div>
                      <div class="col-xs-2">
                        <p class="color-label">VND</p>
                      </div>
                    </div>
                  </div><!--/.form-group-->
                </div>
              </div>
              <!-- /.box -->

              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Khuyến mãi</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body form-horizontal invoice-promotion-box">
                  <div class="col-xs-10">
                    <div class="radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="address" id="" value="" checked=""><span class="circle"></span><span class="check">Tặng sản phẩm</span>                               
                      </label>
                    </div>
                    <select class="form-control">
                      <option>Chọn sản phẩm ...</option>
                      <option>Khăn tắm</option>
                    </select>
                  </div><!--/.form-group-->

                  <div class="col-xs-10">
                    <div class="radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="address" id="" value=""><span class="circle"></span><span class="check">Giảm giá đơn hàng này theo</span>                               
                      </label>
                    </div>
                    <div class="row">
                      <div class="col-xs-2">
                        <p class="color-label">VND</p>
                      </div>
                      <div class="col-xs-10">
                        <input type="text" class="form-control" id="" placeholder="Nhập số tiền giảm...">
                      </div>
                    </div>
                  </div><!--/.form-group-->

                  <div class="col-xs-10">
                    <div class="radio">
                      <label class="radio-material-blue">
                        <input type="radio" name="address" id="" value=""><span class="circle"></span><span class="check">Giảm giá đơn hàng này theo</span>                               
                      </label>
                    </div>
                    <div class="row">
                      <div class="col-xs-2">
                        <p class="color-label">%</p>
                      </div>
                      <div class="col-xs-10">
                        <input type="text" class="form-control" id="" placeholder="Nhập % giảm...">
                      </div>
                    </div>
                  </div><!--/.form-group-->
                </div><!--/.box-body-->
              </div>
              <!-- /.box -->
              
              <div class="col-xs-12"> 
                <input type="submit" class="btn btn-lime pull-right" value="Tiếp tục">
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>

{% endblock %}