{% extends "_layout.html" %}
{% block page-container %}
<section class="content-header" id="content-header">
    <div class="container">
        {% include "_invoice-header.html" %}
    </div>
</section>
<main>
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Tạo đơn hàng mới</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <!--form-row-->
                    <div class="invoice-tab-1 form-horizontal">
                        <form method="">
                            <div class="row invoice-row-2">
                                <div class="col-md-6">
                                    <div class="box box-lime">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Địa chỉ thu tiền</h4>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <p>(Chị)<strong>Phạm Ngọc Thiên Thư</strong></p>
                                            <p>281/25/5, Đường Lê Văn Sỹ, Phường 12, Quận Phú Nhuận, Thành phố Hồ Chí Minh</p>
                                            <p>Điện thoại liên lạc: <strong>0902148489</strong></p>
                                        </div>
                                    </div><!-- /.box -->
                                </div>
                                <div class="col-md-6">
                                    <div class="box box-lime">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Địa chỉ giao hàng</h4>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <p>(Chị)<strong>Phạm Ngọc Thiên Thư</strong></p>
                                            <p>281/25/5, Đường Lê Văn Sỹ, Phường 12, Quận Phú Nhuận, Thành phố Hồ Chí Minh</p>
                                            <p>Điện thoại liên lạc: <strong>0902148489</strong></p>
                                        </div>
                                    </div><!-- /.box -->
                                </div>
                            </div>
                            <div class="row invoice-row-3">
                                <div class="col-md-4">
                                    <div class="box box-lime">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Phương thức thanh toán</h4>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <p class="">Phương thức: Nhân viên giao hàng thu tiền tận nơi</p>
                                            <p class="">
                                                Số tiền đã trả:
                                                <label>2.000.000<ins>đ</ins></label>
                                            </p>
                                        </div>
                                    </div><!-- /.box -->
                                </div>
                                <div class="col-md-8">
                                    <div class="box box-lime">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Thông tin vận chuyển</h4>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <p class="col-xs-6 control-label">Công ty vận chuyển</p>
                                                    <div class="col-xs-6">
                                                        <select class="form-control">
                                                            <option>
                                                                Quantium
                                                            </option>
                                                            <option>
                                                                Vietel-Post
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p class="col-xs-6 control-label">Ngày lấy hàng</p>
                                                    <div class="col-md-6 date-picker-group">
                                                        <input class="form-control date-picker" id="date-picker" name="date-picker" placeholder="09/04/2015 10:20" type="text">
                                                    </div>
                                                </div>
                                            </div><!--/.form-group-->
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <p class="col-xs-6 control-label">Cước vận chuyển</p>
                                                    <div class="col-xs-5">
                                                        <input class="form-control" id="" placeholder="0" type="text">
                                                    </div><ins class="price">đ</ins>
                                                </div>
                                                <div class="col-xs-6">
                                                    <p class="col-xs-6 control-label">Ngày khách nhận hàng</p>
                                                    <div class="col-md-6 date-picker-group">
                                                        <input class="form-control date-picker" id="date-picker" name="date-picker" placeholder="09/04/2015 10:20" type="text">
                                                    </div>
                                                </div>
                                            </div><!--/.form-group-->
                                            <div class="form-group">
                                                <div class="col-xs-6">
                                                    <p class="col-xs-6 control-label">Mã vận chuyển</p>
                                                    <div class="col-xs-6">
                                                        <input class="form-control" id="" placeholder="MF011509242345" type="text">
                                                    </div>
                                                </div>
                                            </div><!--/.form-group-->
                                        </div>
                                    </div><!-- /.box -->
                                </div>
                            </div>
                            <div class="row invoice-row-4">
                                <div class="col-xs-12">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="col-xs-1">STT</th>
                                                <th class="col-xs-5">Tên sản phẩm</th>
                                                <th class="col-xs-2 text-center">Giá bán</th>
                                                <th class="col-xs-1 text-center">Số lượng</th>
                                                <th class="col-xs-2 text-center">Thành tiền</th>
                                                <th class="col-xs-1"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>01</td>
                                                <td class="products-list">
                                                    <div class="item">
                                                        <div class="product-img">
                                                            <a href="#">
                                                                <img alt="myface" src="assets/images/product/product-2.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="product-info">
                                                            <a class="product-title" href="#">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center"><span>1.000.000<ins>đ</ins></span></td>
                                                <td class="text-right">01</td>
                                                <td class="text-center"><label>1.000.000<ins>đ</ins></label></td>
                                                <td>
                                                    <a class="btn-action" data-target="#nontifi-modal" data-toggle="modal" href="#" title="xóa">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>02</td>
                                                <td class="products-list">
                                                    <div class="item">
                                                        <div class="product-img">
                                                            <a href="#">
                                                                <img alt="myface" src="assets/images/product/product-2.jpg">
                                                            </a>
                                                        </div>
                                                        <div class="product-info">
                                                            <a class="product-title" href="#">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td class="text-center">
                                                    <span>1.000.000<ins>đ</ins></span>
                                                </td>
                                                <td class="text-right">01</td>
                                                <td class="text-center">
                                                    <label>1.000.000<ins>đ</ins></label>
                                                </td>
                                                <td>
                                                    <a class="btn-action" data-target="#nontifi-modal" data-toggle="modal" href="#" title="xóa">
                                                        <i class="fa fa-trash-o"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table><!--insert-product-content-->
                                    <div class="row">
                                        <div class="col-xs-2">
                                            <input class="btn btn-default" id="insert-product-btn" type="button" value="+ Thêm sản phẩm">
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="row insert-product-form" id="insert-product-form">
                                                <div class="col-xs-10">
                                                    <input class="form-control" type="text">
                                                </div><input class="col-xs-2 btn btn-lime" id="insert-btn-active" type="submit" value="Thêm">
                                            </div>
                                        </div>
                                    </div><!--/.insert-product-content-->
                                </div>
                            </div>
                            <div class="row invoice-row-5">
                                <div class="col-md-4">
                                    <div class="box box-gray">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Ghi chú đơn hàng</h4>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <textarea class="form-control" placeholder="" rows="3"></textarea>
                                        </div>
                                    </div><!-- /.box -->
                                </div>
                                <div class="col-md-4">
                                    <div class="box box-gray">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Ghi chú của khách hàng</h4>
                                        </div><!-- /.box-header -->
                                        <div class="box-body">
                                            <textarea class="form-control" placeholder="" rows="3"></textarea>
                                        </div>
                                    </div><!-- /.box -->
                                </div>
                                <div class="col-md-4">
                                    <div class="table-responsive invoice-price">
                                        <table class="table">
                                            <tbody>
                                                <tr>
                                                    <th>Tiền sản phẩm:</th>
                                                    <td>
                                                        2.000.000<ins>đ</ins>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Phí vận chuyển và thu tiền tận nơi:</th>
                                                    <td>
                                                        0<ins>đ</ins>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Giảm giá khuyến mãi:</th>
                                                    <td>
                                                        0<ins>đ</ins>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Giảm giá coupon:</th>
                                                    <td>
                                                        0<ins>đ</ins>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th>Mã coupon sử dụng:</th>
                                                    <td>Chưa có</td>
                                                </tr>
                                                <tr class="invoice-price-footer">
                                                    <th>Tổng tiền đơn hàng:</th>
                                                    <td>
                                                        <label class="lime-highlight">2.000.000<ins>đ</ins></label>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- /.box -->
                                </div>
                            </div>
                            <div class="clearfix text-right">
                                <a class="cancel-btn" href="4.3.4-invoice-news-1.html">Hủy bỏ</a>
                                <input class="btn btn-lime" data-target="#alert-modal" data-toggle="modal" type="button" value="Cập nhật và Lưu đơn hàng">
                            </div>
                        </form>
                    </div>
                </div><!-- /.box-body -->
            </div>
        </div>
    </div>
</main>
{% endblock %}
