{% extends "_layout.html" %}
{% block page-container %}
{% include "_shop-setting-header.html" %}
<main class="shop-store">
  <div class="container submenu">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="7.1-shop-info.html" class="active">Thông tin chung</a></li>
        <li><a href="7.2.1-shop-account.html">Tài khoản</a></li>
      </ol>
    </div>
  </div><!--/.submenu-->

	<div class="container">
    <div class="row">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Thông tin chung</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Thông tin chung cửa hàng</h4>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="form-horizontal form-horizontal-right">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Họ tên</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Email liên hệ với Myface:</label>
                      <div class="col-sm-8">
                        <input type="mail" class="form-control" id="" placeholder="">
                        <i>(Email được sử dụng để Myface liên hệ với bạn)</i>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Email liên hệ với khách hàng:</label>
                      <div class="col-sm-8">
                        <input type="mail" class="form-control" id="" placeholder="">
                        <i>(Email được sử dụng để Myface liên hệ với khách hàng)</i>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-12 control-label">Tên đăng ký giấy phép kinh doanh (GPKD) của doanh nghiệp:</label>
                      <div class="col-sm-12">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số điện thoại</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Tỉnh / Thành phố</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Tỉnh / Thành phố</option>
                          <option>Hồ Chí Minh</option>
                          <option>Hà Nội</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Quận / Huyện</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Quận / Huyện</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Phường / Xã</label>
                      <div class="col-sm-8">
                        <select class="form-control">
                          <option>Chọn Phường / Xã</option>
                          <option>abc</option>
                          <option>xyz</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Đường / Phố</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="" class="col-sm-4 control-label">Số Nhà / Ngõ / Hẻm</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="" placeholder="">
                      </div>
                    </div>
                  </div>
                  <!-- /.box-body -->
                </div>
              </div>
              <!-- /.box -->
            </div>

            <div class="col-md-6">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Địa chỉ cửa hàng</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="box box-gray">
                    <div class="box-header with-border">
                      <h4 class="box-title">Cửa hàng chính</h4>
                    </div>
                    <!-- form start -->
                    <div class="form-horizontal form-horizontal-right">
                      <div class="box-body">
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Tên địa điểm:</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Số điện thoại</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Tỉnh / Thành phố</label>
                          <div class="col-sm-8">
                            <select class="form-control">
                              <option>Chọn Tỉnh / Thành phố</option>
                              <option>Hồ Chí Minh</option>
                              <option>Hà Nội</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Quận / Huyện</label>
                          <div class="col-sm-8">
                            <select class="form-control">
                              <option>Chọn Quận / Huyện</option>
                              <option>abc</option>
                              <option>xyz</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Phường / Xã</label>
                          <div class="col-sm-8">
                            <select class="form-control">
                              <option>Chọn Phường / Xã</option>
                              <option>abc</option>
                              <option>xyz</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Đường / Phố</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Số Nhà / Ngõ / Hẻm</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>

                  <div class="box box-gray">
                    <div class="box-header with-border">
                      <h4 class="box-title">Cửa hàng phụ</h4>
                      <a href="2.4-product-detail.html" class="btn btn-default pull-right"> + Thêm cửa hàng</a>
                    </div>
                    <!-- form start -->
                    <div class="form-horizontal form-horizontal-right">
                      <div class="box-body">
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Tên địa điểm:</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Số điện thoại</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Tỉnh / Thành phố</label>
                          <div class="col-sm-8">
                            <select class="form-control">
                              <option>Chọn Tỉnh / Thành phố</option>
                              <option>Hồ Chí Minh</option>
                              <option>Hà Nội</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Quận / Huyện</label>
                          <div class="col-sm-8">
                            <select class="form-control">
                              <option>Chọn Quận / Huyện</option>
                              <option>abc</option>
                              <option>xyz</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Phường / Xã</label>
                          <div class="col-sm-8">
                            <select class="form-control">
                              <option>Chọn Phường / Xã</option>
                              <option>abc</option>
                              <option>xyz</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Đường / Phố</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group">
                          <label for="" class="col-sm-4 control-label">Số Nhà / Ngõ / Hẻm</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" id="" placeholder="">
                          </div>
                        </div>
                      </div>
                      <!-- /.box-body -->
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <div class="form-group clearfix">
            <input type="button" class="btn btn-lime pull-right" data-toggle="modal" data-target="#alert-modal" value="Cập nhật thông tin">
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}
