{% extends "_layout.html" %}
{% block page-container %}
{% include "_shop-setting-header.html" %}
<main class="shop-store">
    <div class="container submenu">
        <div class="row">
            <ol class="breadcrumb">
                <li>
                    <a class="active" href="7.1-shop-info.html">Thông tin chung</a>
                </li>
                <li>
                    <a href="7.2.1-shop-account.html">Tài khoản</a>
                </li>
            </ol>
        </div>
    </div><!--/.submenu-->
    <div class="container">
        <div class="row">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">Thông tin chung</h3>
                    <a class="pull-right hdsd-link" href="https://myface.vn/huong-dan/huong-dan-su-dung-my-face-tu-a-z-27.html" target="_blank">
                        <i class="fa fa-question-circle"></i>
                        <span>Hướng dẫn sử dụng</span>
                    </a>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="box box-lime box-address">
                                <p class="title-address">Thông tin chủ sở hữu shop</p>
                                <div class="address-infor">
                                    <p class="name-person">
                                        <span>(Anh)</span>
                                        Phạm Phương Du
                                    </p>
                                    <p class="address">Số 120, Lê Đức Thọ, Phường 17, Quận Gò Vấp, Thành Phố Hồ Chí Minh</p>
                                    <p class="phonenumber">
                                        Điện thoại
                                        <a href="tel:+84902559591">0902559591</a>
                                    </p>
                                    <p class="email">
                                        Email:
                                        <a href="mailto:phuongdu@gmail.com">phuongdu@gmail.com</a>
                                    </p>
                                    <p class="update-address">
                                        <button class="btn btn-default edit-info" type="button">Sửa thông tin</button>
                                    </p>
                                </div>

                                <div class="edit-address-form">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label class="control-label">Danh xưng</label>
                                            <select class="form-control">
                                                <option>
                                                    Anh
                                                </option>
                                                <option>
                                                    Chị
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="control-label">Họ tên chủ shop</label>
                                            <input class="form-control" placeholder="Điền họ tên chủ shop" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Điện thoại <span>(Khi có việc gấp myFace liên hệ ngay)</span></label>
                                        <input class="form-control" type="text" placeholder="Điền số điện thoại">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email <span>(Khi có việc gấp myFace liên hệ ngay)</span></label>
                                        <input class="form-control" type="email" placeholder="Điền email">
                                    </div>
                                    <div class="form-group update-action">
                                        <a class="cancel-btn cancel-update" href="">Hủy bỏ</a>
                                        <button class="btn btn-lime" type="button">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </div>

                            <div class="box box-lime box-address">
                                <p class="title-address">Thông tin shop</p>
                                <div class="address-infor">
                                    <p class="name-person">
                                        Amy Shop
                                    </p>
                                    <p class="address">Số 120, Lê Đức Thọ, Phường 17, Quận Gò Vấp, Thành Phố Hồ Chí Minh</p>
                                    <p class="phonenumber">
                                        Điện thoại
                                        <a href="tel:+84902559591">0902559591</a>
                                    </p>
                                    <p class="email">
                                        Email:
                                        <a href="mailto:phuongdu@gmail.com">phuongdu@gmail.com</a>
                                    </p>
                                    <hr>
                                    <p class="info-row">Số tài khoản: 09090909099090</p>
                                    <p class="info-row">Ngân hàng: Vietcombank</p>
                                    <p class="info-row">Người thừa hưởng: Nguyễn Khoái</p>
                                    <p class="update-address">
                                        <button class="btn btn-default edit-info" type="button">Sửa thông tin</button>
                                    </p>
                                </div>

                                <div class="edit-address-form">
                                    <div class="form-group row">
                                        <div class="col-md-3">
                                            <label class="control-label">Danh xưng</label>
                                            <select class="form-control">
                                                <option>
                                                    Anh
                                                </option>
                                                <option>
                                                    Chị
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-md-9">
                                            <label class="control-label">Họ tên chủ shop</label>
                                            <input class="form-control" placeholder="Điền họ tên chủ shop" type="text">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Điện thoại <span>(Khi có việc gấp myFace liên hệ ngay)</span></label>
                                        <input class="form-control" type="text" placeholder="Điền số điện thoại">
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Email <span>(Khi có việc gấp myFace liên hệ ngay)</span></label>
                                        <input class="form-control" type="email" placeholder="Điền email">
                                    </div>
                                    <div class="form-group update-action">
                                        <a class="cancel-btn cancel-update" href="">Hủy bỏ</a>
                                        <button class="btn btn-lime" type="button">Cập nhật thông tin</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="box box-lime">
                                <div class="box-header with-border">
                                    <h4 class="box-title">Địa chỉ cửa hàng</h4>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="box box-gray">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Cửa hàng chính</h4>
                                        </div><!-- form start -->
                                        <div class="form-horizontal form-horizontal-right">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Tên địa điểm:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Số điện thoại</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Tỉnh / Thành phố</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control">
                                                            <option>
                                                                Chọn Tỉnh / Thành phố
                                                            </option>
                                                            <option>
                                                                Hồ Chí Minh
                                                            </option>
                                                            <option>
                                                                Hà Nội
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Quận / Huyện</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control">
                                                            <option>
                                                                Chọn Quận / Huyện
                                                            </option>
                                                            <option>
                                                                abc
                                                            </option>
                                                            <option>
                                                                xyz
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Phường / Xã</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control">
                                                            <option>
                                                                Chọn Phường / Xã
                                                            </option>
                                                            <option>
                                                                abc
                                                            </option>
                                                            <option>
                                                                xyz
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Đường / Phố</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Số Nhà / Ngõ / Hẻm</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                    <div class="box box-gray">
                                        <div class="box-header with-border">
                                            <h4 class="box-title">Cửa hàng phụ</h4>
                                            <input class="btn btn-default pull-right" type="button" value="+ Thêm cửa hàng">
                                        </div><!-- form start -->
                                        <div class="form-horizontal form-horizontal-right">
                                            <div class="box-body">
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Tên địa điểm:</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Số điện thoại</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Tỉnh / Thành phố</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control">
                                                            <option>
                                                                Chọn Tỉnh / Thành phố
                                                            </option>
                                                            <option>
                                                                Hồ Chí Minh
                                                            </option>
                                                            <option>
                                                                Hà Nội
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Quận / Huyện</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control">
                                                            <option>
                                                                Chọn Quận / Huyện
                                                            </option>
                                                            <option>
                                                                abc
                                                            </option>
                                                            <option>
                                                                xyz
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Phường / Xã</label>
                                                    <div class="col-sm-8">
                                                        <select class="form-control">
                                                            <option>
                                                                Chọn Phường / Xã
                                                            </option>
                                                            <option>
                                                                abc
                                                            </option>
                                                            <option>
                                                                xyz
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Đường / Phố</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 control-label" for="">Số Nhà / Ngõ / Hẻm</label>
                                                    <div class="col-sm-8">
                                                        <input class="form-control" id="" placeholder="" type="text">
                                                    </div>
                                                </div>
                                            </div><!-- /.box-body -->
                                        </div>
                                    </div>
                                </div>
                            </div><!-- /.box -->
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer clearfix">
                    <div class="form-group clearfix">
                        <input class="btn btn-lime pull-right" data-target="#alert-modal" data-toggle="modal" type="button" value="Cập nhật thông tin">
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
