{% extends "_layout.html" %}
{% block page-container %}
{% include "_shop-setting-header.html" %}
<main class="shop-store">
  <div class="container submenu">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="7.1-shop-info.html">Thông tin chung</a></li>
        <li><a href="7.2.1-shop-account.html" class="active">Tài khoản</a></li>
      </ol>
    </div>
  </div><!--/.submenu-->

	<div class="container">
    <div class="row">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Tài khoản</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="box box-lime">
            <div class="box-header with-border">
              <p><strong>Gói dịch vụ</strong><span class="small"> (Bạn có thể xem chi tiết gói dịch vụ MyFace tại thông tin bên dưới)</span></p>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="clearfix">
                <div class="pull-left">
                  <p><i class="fa fa-circle-o"></i> Hiện bạn đang sử dụng gói dịch vụ: <strong class="green-highlight">Chuyên nghiệp</strong> <span class="green-highlight">(199.000đ /tháng)</span>, ngày hết hạn:  <strong class="green-highlight">31/12/2017 </strong></p>
                </div>
                <div class="pull-right">
                  <a href="" class="btn-update">Hướng dẫn thanh toán gói dịch vụ <i class="fa fa-caret-right"></i></a>
                </div>
              </div>
              <div class="box-footer clearfix">
                <div class="row form-group">
                  <a href="7.2.2-shop-change-service.html" class="btn btn-default">Thay đổi gói dịch vụ</a>
                  <a href="7.2.4-shop-extend-service-confirm.html" class="btn btn-default">Gia hạn gói dịch vụ</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
          <div class="box box-lime">
            <div class="box-header with-border">
              <p><strong>Nhân viên quản trị</strong><span class="small"> (Bạn có thể cấp quyền truy cập hệ thống cho người khác)</span></p>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th class="col-md-2">Tên</th>
                    <th class="col-md-3">Email</th>
                    <th class="col-md-3">Quyền truy cập</th>
                    <th class="col-md-3">Ngày đăng nhập gần nhất</th>
                    <th class="col-md-1">Sửa/Xóa</th>
                  </tr>
                </thead>
                <tbody>              
                  <tr>
                    <td><a href="" class="cate-name">Phạm Ngọc Thiên Thư</a></td>
                    <td><a href="maito:thienthu.phamngoc@gmail.com" class="">thienthu.phamngoc@gmail.com</a></td>
                    <td>Chủ tài khoản</td>
                    <td>04/11/2015 - 11:00:35</td>
                    <td>
                      <span class="action">
                        <a href="2.2-create-category.html" class="btn-action" title="sửa"><i class="fa fa-cog"></i></a>
                        <a href="#" class="btn-action" data-toggle="modal" data-target="#nontifi-modal" title="xóa"><i class="fa fa-trash-o"></i></a>
                      </span>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="" class="cate-name">Phạm Ngọc Thiên Thư</a></td>
                    <td><a href="maito:thienthu.phamngoc@gmail.com" class="">thienthu.phamngoc@gmail.com</a></td>
                    <td>Chủ tài khoản</td>
                    <td>04/11/2015 - 11:00:35</td>
                    <td>
                      <span class="action">
                        <a href="2.2-create-category.html" class="btn-action" title="sửa"><i class="fa fa-cog"></i></a>
                        <a href="#" class="btn-action" data-toggle="modal" data-target="#nontifi-modal" title="xóa"><i class="fa fa-trash-o"></i></a>
                      </span>
                    </td>
                  </tr>
                </tbody>
              </table><!--table-->
              <div class="box-footer clearfix">
                <div class="row form-group">
                  <a href="7.3-shop-admin.html" class="btn btn-default">+ Thêm quản trị viên</a>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
          <div class="box box-lime">
            <div class="box-header with-border">
              <p><strong>Thay đổi tài khoản chủ sở hữu</strong></p>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="clearfix">
                <p>Bạn có thể chuyển quyền sở hữu website cửa hàng cho nhân viên quản trị khác. Nếu bạn thực hiện điều này, họ sẽ có toàn quyền kiểm soát cửa hàng (bao gồm truy cập vào thanh toán). Tài khoản của bạn sẽ chuyển thành tài khoản nhân viên bình thường. </p>
              </div>
              <div class="box-footer clearfix">
                <div class="row form-horizontal form-horizontal-right">
                  <div class="row form-group">
                    <span for="" class="col-sm-2 control-label">Chọn địa chỉ email:</span>
                    <div class="col-sm-3">
                      <select class="form-control">
                        <option>Chọn e-mail:</option>
                        <option>abc.xyz@gmail.com</option>
                        <option>saigon.hanoi@gmail.com</option>
                      </select>
                    </div>
                    <div class="col-sm-2">
                      <input type="button" class="btn btn-lime" value="Chọn làm chủ sở hữu">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /.box -->
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>
{% endblock %}
