{% extends "_layout.html" %}
{% block page-container %}
{% include "_shop-setting-header.html" %}
<main class="sales-chanel">
	<div class="container">
    <div class="row">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Quản lý kênh bán hàng</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-md-6 sale-chanel-col">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Kết nối tài khoản Facebook</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row sale-chanel-info-col">
                    <div class="col-xs-4 sale-chanel-img">
                      <img src="assets/images/chanel/fb.jpg" alt="myface" class="img-responsive">
                    </div>
                    <div class="col-xs-8 sale-chanel-info">
                      <ul class="list-group-noline check-list-group">
                        <li><p>Bán hàng trực tiếp, giúp khách hàng mua hàng trực tiếp khi xem Facebook. </p></li>
                        <li><p>Quản lý, tự động ẩn các comment, số điện thoại... từ Facebook, đảm bảo không bị cướp mất KH, chỉ có bạn & KH thấy được thông tin bị ẩn.</p></li>
                        <li><p>Quản lý đơn hàng, thông tin khách hàng...</p></li>
                      </ul>
                      <div class="form-group clearfix">
                        <a href="9.2-sales-chanel-setting.html" class="btn btn-lime">Kết nối</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>

            <div class="col-md-6 sale-chanel-col">
              <div class="box box-lime">
                <div class="box-header with-border">
                  <h4 class="box-title">Kết nối tài khoản MyFace</h4>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                  <div class="row sale-chanel-info-col">
                    <div class="col-xs-4 sale-chanel-img">
                      <img src="assets/images/chanel/myface-logo.png" alt="myface" class="img-responsive">
                    </div>
                    <div class="col-xs-8 sale-chanel-info">
                      <ul class="list-group-noline check-list-group">
                        <li><p>Bán hàng trực tiếp, giúp khách hàng mua hàng trực tiếp khi xem Facebook. </p></li>
                        <li><p>Quản lý, tự động ẩn các comment, số điện thoại... từ Facebook, đảm bảo không bị cướp mất KH, chỉ có bạn & KH thấy được thông tin bị ẩn.</p></li>
                        <li><p>Quản lý đơn hàng, thông tin khách hàng...</p></li>
                      </ul>
                      <div class="form-group clearfix">
                        <a href="9.2-sales-chanel-setting.html" class="btn btn-lime">Kết nối</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.box -->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>
{% endblock %}
