{% extends "_layout.html" %}
{% block page-container %}
{% include "_shop-setting-header.html" %}
<main class="sales-chanel fanpage-setting">
	<div class="container">
    <div class="row">
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">Quản lý kênh bán hàng trên Fanpage - Facebook</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div class="box box-lime">
            <div class="box-header with-border">
              <h4 class="box-title">Chọn Fanpage tạo store</h4>
            </div>
            <div class="setting-box">
              <!--fanpage-control-->
              <div class="row fanpage-control">
                <div class="col-xs-4">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" class="setting-form-control">
                      Fanpage Facebook 1
                      <span class="rp-arrow"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" class="setting-form-control">
                      Fanpage Facebook 2
                      <span class="rp-arrow"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" class="setting-form-control">
                      Fanpage Facebook 3
                      <span class="rp-arrow"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" class="setting-form-control">
                      Fanpage Facebook 4
                      <span class="rp-arrow"></span>
                    </label>
                  </div>
                </div>
                <div class="col-xs-4">
                  <div class="radio">
                    <label>
                      <input type="radio" name="optionsRadios" class="setting-form-control">
                      Fanpage Facebook 5
                      <span class="rp-arrow"></span>
                    </label>
                  </div>
                </div>
              </div><!--/.fanpage-control-->

              <!--fanpage-setting-content-->
              <div class="setting-form-wrap">
                <div class="setting-form setting-form-db">
                  <h3 class="report-title">
                    <div>Fanpage: <span class="lime-highlight">Tên Fanpage 1</span></div>
                    <a class="fb-link" href="#" target="_blank">Xem cửa hàng trên Facebook store</a>
                  </h3>
                  <div class="setting-content setting-fanpage-info">
                    <p>Cửa hàng của bạn trên Facebook sẽ được hiển thị dưới dạng 1 Tab. Hãy tùy chỉnh tiêu đề và ảnh cho Tab này. </p>
                    <div class="row">
                      <div class="col-md-6">
                        <ul class="list-group-noline sales-chanel-setting-group">
                          <li class="form-group">
                            <label class="col-xs-2 control-label">Tiêu đề Tab </label>
                            <div class="col-sm-8">
                              <input type="text" class="form-control" id="" placeholder="Nhập tiêu đề Tab">
                            </div>
                          </li>
                          <li class="form-group">
                            <label class="col-xs-2 control-label">Ảnh đại diện Tab</label>
                            <div class="col-sm-8">
                              <div class="product-img-thumb tab-img-upload">
                                <div class="img-box">
                                  <!--<img src="assets/images/myface.png" alt="myface" title="up hình sản phẩm">-->
                                  <input class="upload-btn" id="upload-img-btn" type="file" accept="image/*" title="up hình ảnh đại diện Tab">
                                </div>
                                <a href="#" class="close img-remove-btn" title="xóa ảnh"><i class="fa fa-trash-o"></i></a>
                              </div>
                            </div>
                          </li>
                        </ul>
                        <p><i>(Kích cỡ hình ảnh lớn hơn 111x74 pixel sẽ được tự động điều chỉnh lại cho phù hợp)</i></p>
                      </div>
                      <div class="col-md-6">
                        <p>Tải hình ảnh banner cho cửa hàng của bạn.</p>
                        <p><i>(Kích cỡ hình ảnh lớn hơn 808x200 pixel sẽ được tự động điều chỉnh lại cho phù hợp)</i></p>
                        <ul class="list-group-noline sales-chanel-setting-group">
                          <li class="form-group">
                            <label class="col-xs-2 control-label">Ảnh banner Tab</label>
                            <div class="col-sm-8">
                              <div class="product-img-thumb banner-img-upload">
                                <div class="img-box">
                                  <!--<img src="assets/images/myface.png" alt="myface" title="up hình sản phẩm">-->
                                  <input class="upload-btn" id="upload-img-btn" type="file" name="pic" accept="image/*" title="up hình sản phẩm">
                                </div>
                                <a href="#" class="close img-remove-btn" title="xóa ảnh"><i class="fa fa-trash-o"></i></a>
                              </div>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <h4 class="report-title">
                    <span class="lime-highlight">Chọn sản phẩm bán trên Fanpage này:</span>
                  </h4>
                  <div class="setting-content setting-product">
                    <div class="st-product-form-group">
                      <div class="row">
                        <div class="col-md-2">
                          <label class="st-label">Sản phẩm</label>
                        </div>
                        <div class="col-md-4">
                          <div class="st-product-form-group">
                            <select id="" class="st-select-box st-select-product" data-style="st-select-toggle" data-live-search="true" multiple title='Chọn sản phẩm' >
                              <option value="">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</option>
                              <option value="">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</option>
                              <option value="">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</option>
                              <option value="">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!--sản phẩm được chọn-->
                    <div class="st-product-form-row">
                      <div class="row">
                        <div class="col-md-8 col-md-offset-2">
                          <label class="st-group-label">Sản phẩm bạn đã chọn:</label>
                          <ul class=" row products-list st-product-list slimscroll297">
                            {% for x in [1,2,3,4,5,6,7]%}
                            <li class="item col-sm-6">
                              <div class="product-item-inner">
                                <div class="product-img">
                                    <img src="assets/images/product/product-1.jpg" alt="myface">
                                </div>
                                <div class="product-info">
                                  <span class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</span>
                                </div>
                              </div>
                              <button type="button" class="close">
                                <i class="fa fa-times"></i>
                              </button>
                            </li>
                            <!-- /.item -->
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="setting-content clearfix">
                    <input type="button" class="btn btn-lime pull-right" value="Kích hoạt và lưu kết nối Facebook" onclick="location.href='9.2.2-sales-chanel-setting-review.html'">
                  </div>
                </div><!--/.report-form-1-->
              </div> <!--fanpage-setting-content-->
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
  </div>
</main>
{% endblock %}
