<div class="modal invoice-dashboard-modal" id="invoice-dashboard-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Tạo đơn hàng mới</h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <label>
            1. Sản phẩm đã chọn:
            <a href="#" class="edit-action" data-dismiss="modal">(Thêm/Thay đổi sản phẩm)</a>
          </label>
          <table class="table">
            <thead>
              <tr>
                <th class="col-xs-6 text-center">Sản phẩm</th>
                <th class="col-xs-2 text-center">Giá bán</th>
                <th class="col-xs-2 text-center">Số lượng</th>
                <th class="col-xs-2 text-center">Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              {% for x in [1,2]%}
              <tr>
                <td class="products-list">
                  <div class="item">
                    <div class="product-img">
                      <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                    </div>
                    <div class="product-info">
                      <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span>1.000.000<ins>đ</ins></span>
                </td>
                <td class="text-right">01</td>
                <td class="text-center">
                  <label>1.000.000<ins>đ</ins></label>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>
        </div>
        <div class="clearfix">
          <label>2. Chọn địa điểm lấy hàng(sản phẩm):</label>
          <div class="col-md-12 address-get-product">
            <div class="radio">
              <label class="radio-material-blue">
                <input checked="checked" name="shop_address" type="radio" value="118"> Địa chỉ 1 : Taodan, Số 121/11, Đường Hưng Phú, Phường Mỹ Quý, Thành Phố Long Xuyên, Tỉnh An Giang
              </label>
            </div>
            <div class="radio">
              <label class="radio-material-blue">
                <input checked="checked" name="shop_address" type="radio" value="118"> Địa chỉ 2 : Taodan, Số 122/11, Đường Hưng Phú, Phường Mỹ Quý, Thành Phố Long Xuyên, Tỉnh An Giang
              </label>
            </div>
          </div>
        </div>
        <div class="clearfix">
          <label>3. Phương thức thanh toán + giao hàng:</label>
          <div class="form-horizontal ship-options">
            <div class="first_choice">
              <label class="radio-material-blue" >
                  <input checked id="radio_shop" name="payment_method" type="radio"  >
                  <span class="check">1. Shop tự giao hàng</span>
              </label>
              <div class="form-horizontal invoice-promotion-box">
                  <div class="col-md-12 pay-custom">
                      <label class="radio-material-blue">
                          <input id="" name="" type="radio" value="">
                          <span class="check">Tùy chỉnh</span>
                      </label>
                      <div class="custom-ship">
                          <p class="color-label">VNĐ</p>
                          <input class="form-control" id="" placeholder="Nhập số tiền muốn thu" type="number">
                      </div>
                  </div>
              </div>
          </div>
          <div class="second_choice">
              <label class="radio-material-blue" >
                  <input id="radio_company" name="payment_method" type="radio" >
                  <span class="check">2. Công ty vận chuyển giao hàng</span>
              </label>
              <div class="wrap_radio">
                  <div class="radio">
                      <label class="radio-material-blue">
                          <input checked="checked" id="radio_payment_1" name="payment_method1" type="radio" value="1">
                          <span class="check">1. Người mua hàng trả tiền sản phẩm + phí vận chuyển :</span>
                      </label>
                      <div class="block">
                          <p class="title-choice">Speedlink</p>
                          <div class="form-horizontal invoice-promotion-box">
                              <div class="pay-money">
                                  <div class="col-md-4">
                                      <label class="radio-material-blue">
                                          <input id="" name="save" type="radio" value="">
                                          <span class="check">Tiết kiệm</span>
                                          <p class="note">Giao trong vòng 3 ngày</p>
                                      </label>
                                      
                                      <p class="lime-highlight">
                                          <label class="radio-material-blue">
                                              <strong id="strong_text_fee">13.000</strong> <ins>đ</ins>
                                          </label>
                                      </p>
                                  </div>
                                  <div class="col-md-4">
                                      <label class="radio-material-blue">
                                          <input id="" name="save" type="radio" value="">
                                          <span class="check">Bình thường</span>
                                          <p class="note">Giao trong vòng 3 ngày</p>
                                      </label>
                                      
                                      <p class="lime-highlight">
                                          <label class="radio-material-blue">
                                              <strong id="strong_text_fee">19.000</strong> <ins>đ</ins>
                                          </label>
                                      </p>
                                  </div>
                              </div>
                              <div class="col-md-12 pay-custom">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Tùy chỉnh</span>
                                  </label>
                                  <div class="custom-ship">
                                      <p class="color-label">VNĐ</p>
                                      <input class="form-control" id="" placeholder="Nhập số tiền muốn thu" type="number">
                                  </div>
                              </div>
                          </div>
                      
                          <p class="title-choice">Giao hàng tiết kiệm</p>
                          <div class="form-horizontal invoice-promotion-box">
                              <div class="pay-money">
                                  <div class="col-md-4">
                                      <label class="radio-material-blue">
                                          <input id="" name="save1" type="radio" value="">
                                          <span class="check">Tiết kiệm</span>
                                          <p class="note">Giao trong vòng 3 ngày</p>
                                      </label>
                                      <p class="lime-highlight">
                                          <label class="radio-material-blue">
                                              <strong id="strong_text_fee">13.000</strong> <ins>đ</ins>
                                          </label>
                                      </p>
                                  </div>
                                  <div class="col-md-4">
                                      <label class="radio-material-blue">
                                          <input id="" name="save1" type="radio" value="">
                                          <span class="check">Bình thường</span>
                                          <p class="note">Giao trong vòng 3 ngày</p>
                                      </label>
                                      <p class="lime-highlight">
                                          <label class="radio-material-blue">
                                              <strong id="strong_text_fee">19.000</strong> <ins>đ</ins>
                                          </label>
                                      </p>
                                  </div>
                              </div>
                              <div class="col-md-12 pay-custom">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Tùy chỉnh</span>
                                  </label>
                                  <div class="custom-ship">
                                      <p class="color-label">VNĐ</p>
                                      <input class="form-control" id="" placeholder="Nhập số tiền muốn thu" type="number">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="radio">
                      <label class="radio-material-blue">
                          <input class="radio_payment" id="radio_payment_2" name="payment_method1" type="radio" value="2">
                          <span class="check">2. Người mua hàng không trả tiền sản phẩm. Người mua hàng trả phí vận chuyển</span>
                      </label>
                      <div class="form-horizontal invoice-promotion-box">
                          <div class="pay-money">
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Tiết kiệm</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">13.000</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Bình thường</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">15.000</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Hỏa tốc</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">27.000</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="radio">
                      <label class="radio-material-blue">
                          <input class="radio_payment" id="radio_payment_3" name="payment_method" type="radio" value="3">
                          <span class="check">3. Người bán hàng đã thu tiền hàng. Người bán hàng trả phí vận chuyển</span>
                      </label>
                      <div class="form-horizontal invoice-promotion-box">
                          <div class="pay-money">
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Tiết kiệm</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">13.200</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Bình thường</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">15.400</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Hỏa tốc</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">26.400</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="radio">
                      <label class="radio-material-blue">
                          <input class="radio_payment" id="radio_payment_2" name="payment_method" type="radio" value="2">
                          <span class="check">4. Người mua hàng trả tiền sản phẩm. Người bán hàng (chủ shop) trả phí vận chuyển</span>
                      </label>
                      <div class="form-horizontal invoice-promotion-box">
                          <div class="pay-money">
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Tiết kiệm</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">13.200</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Bình thường</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">15.400</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                              <div class="col-md-4">
                                  <label class="radio-material-blue">
                                      <input id="" name="" type="radio" value="">
                                      <span class="check">Hỏa tốc</span>
                                  </label>
                                  <p class="lime-highlight">
                                      <label class="radio-material-blue">
                                          <strong id="strong_text_fee">26.400</strong> <ins>đ</ins>
                                      </label>
                                  </p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          </div>
        </div>
        <div class="clearfix">
          <label>4. Cước vận chuyển (trả cho công ty vận chuyển):</label>
          <div class="transport">
            <div class="form-horizontal">
              <div class="form-group">
                <div class="col-xs-12">
                  <span>Phương thức giao hàng:
                    <strong>Tiết kiệm của Speedlink</strong>
                  </span>
                  <input readonly="" type="text" class="form-control" id="" placeholder="13.200">
                  <p class="color-label">VND</p>
                </div>
              </div><!--/.form-group-->
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-lime order-next-step" value="Tiếp tục">
        <a href="#" class="btn btn-default" data-dismiss="modal">Hủy</a>
      </div>
    </div>
  <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

<!--invoice-complete-modal-->
<div class="modal invoice-dashboard-modal invoice-complete-modal" id="invoice-complete-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Tạo đơn hàng mới
          <a href="#" class="edit-action back-action">(Trở về trang trước)</a>
        </h4>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <label>
            5. Địa chỉ nhận hàng:
            <a href="#" class="edit-action" data-dismiss="modal">(Thay đổi địa chỉ nhận hàng)</a>
          </label>
          <p class="col-md-12">
            Minh Thiên Địa chỉ số 12, Đường Hai Bà Trưng, Phường Bến Nghé, Quận 1, Thành Phố Hồ Chí Minh
          </p>
        </div>
        <div class="clearfix">
          <label>
            6. Kiểm tra lại đơn hàng:
          </label>
          <table class="table">
            <thead>
              <tr>
                <th class="col-xs-6 text-center">Sản phẩm</th>
                <th class="col-xs-2 text-center">Giá bán</th>
                <th class="col-xs-2 text-center">Số lượng</th>
                <th class="col-xs-2 text-center">Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              {% for x in [1,2]%}
              <tr>
                <td class="products-list">
                  <div class="item">
                    <div class="product-img">
                      <a href="#"><img src="assets/images/product/product-2.jpg" alt="myface"></a>
                    </div>
                    <div class="product-info">
                      <a href="#" class="product-title">Combo 2 Hộp Sữa Bột Ensure Gold Acti M2 400g</a>
                    </div>
                  </div>
                </td>
                <td class="text-center">
                  <span>1.000.000<ins>đ</ins></span>
                </td>
                <td class="text-right">01</td>
                <td class="text-center">
                  <label>1.000.000<ins>đ</ins></label>
                </td>
              </tr>
              {%endfor%}
            </tbody>
          </table>

          <div class="invoice-total-price">
            <table class="price-table">
              <tbody>
                <tr>
                  <th>Thành tiền:</th>
                  <td>2.000.000<ins>đ</ins></td>
                </tr>
                <tr>
                  <th>Phí vận chuyển:</th>
                  <td>13.200<ins>đ</ins></td>
                </tr>
                <tr>
                  <th>Giảm giá:</th>
                  <td>0<ins>đ</ins></td>
                </tr>
                <tr class="invoice-price-footer">
                  <th>Tổng tiền thanh toán:</th>
                  <td>2.013.200<ins>đ</ins></td>
                </tr>
              </tbody>
            </table>
            <p class="text-center lime-text">(Thời gian dự kiến giao đơn hàng từ 3 đến 5 ngày)</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <input type="submit" class="btn btn-lime" value="Hoàn tất đơn hàng">
        <a href="#" class="btn btn-default" data-dismiss="modal">Hủy</a>
      </div>
    </div>
  <!-- /.modal-content -->
  </div>
  <!-- /.modal-dialog -->
</div>
