<div class="box box-widget new-order-box" style="display: none">
	<div class="box-body">
    <!--invoice-product-table-->
    <div class="invoice-product-list row">
      {% include "_product-list.html" %}
    </div>
		<!--new-order-form-->
		<div class="new-order-form">
			<form role="form">
				<h4>Chọn sản phẩm</h4>
		    <!--order-product -->
		    <div class="wrap">
          <!--box-search-product-->
          <div class="box-search-product">
  		    	<div class="form-group">
              <input type="text" class="form-control product-dropdown-ct" placeholder="Chọn sản phẩm">
              <!--product-dropdown-->
              <div class="panel panel-default panel-product-dropdown">
                <div class="panel-body">
                  <div class="box-search-advance-head" data-toggle="modal" data-target="#create-new-product-modal">
                    <span><i class="fa fa-tags"></i></span><span class="ml10">Tạo sản phẩm mới</span>
                  </div>
                  <div class="row invoice-product-list list-search-data">
                    <ul class="clearfix products-list product-list-in-box row">
                      <li class="item">
                        <a href="#">
                          <div class="product-img">
                              <img src="assets/images/product/product-1.jpg" alt="myface">
                          </div>
                          <div class="product-info">
                            <span class="product-title">Combo 2 Hộp Sữa Bột Ensure
                                Gold Acti M2 400g</span>

                            <div class="clearfix">
                              <span class="green-highlight pull-right">16,000,000<ins>đ</ins></span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- /.item -->
                      <li class="item">
                        <a href="#">
                          <div class="product-img">
                              <img src="assets/images/product/product-1.jpg" alt="myface">
                          </div>
                          <div class="product-info">
                            <span class="product-title">Combo 2 Hộp Sữa Bột Ensure
                                Gold Acti M2 400g</span>

                            <div class="clearfix">
                              <span class="green-highlight pull-right">16,000,000<ins>đ</ins></span>
                            </div>
                          </div>
                        </a>
                      </li>
                      <!-- /.item -->
                    </ul>
                  </div>
                </div>
              </div>
              <!--/.product-dropdown-->
            </div>
          </div><!--/.box-search-product-->
          <div class="form-group">
            <textarea title="Ghi chú đơn hàng..." class="form-control" placeholder="Ghi chú đơn hàng..."></textarea>
          </div>
		    </div>
		    <h4>Thông tin người nhận hàng</h4>
		    <!--order-product -->
		    <div class="wrap">
		    	<div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Họ Tên...">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="" placeholder="Số điện thoại...">
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Chọn Tỉnh / Thành phố</option>
              <option>Hồ Chí Minh</option>
              <option>Hà Nội</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Chọn Quận / Huyện</option>
              <option>abc</option>
              <option>xyz</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Chọn Phường / Xã</option>
              <option>abc</option>
              <option>xyz</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Tên đường ...">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Số nhà , ngõ , hẻm ...">
          </div>
		    </div>
		    <!--invoice-->
		    <div class="wrap">
		    	<div class="table-responsive invoice-price">
            <table class="table">
              <tbody>
                <tr>
                  <th>Tiền sản phẩm:</th>
                  <td>2.000.000<ins>đ</ins></td>
                </tr>
                <tr>
                  <th><a href="#" class="md-link" data-toggle="modal" data-target="#add-transform-modal">Thêm phí vận chuyển <i class="fa fa-pencil-square-o"></i></a></th>
                  <td>0<ins>đ</ins></td>
                </tr>
                <tr>
                  <th><a href="#" class="md-link" data-toggle="modal" data-target="#add-coupon-modal">Thêm khuyến mãi <i class="fa fa-pencil-square-o"></i></a></th>
                  <td>0<ins>đ</ins></td>
                </tr>
                <tr class="invoice-price-footer">
                  <th>Tổng tiền đơn hàng:</th>
                  <td>2.000.000<ins>đ</ins></td>
                </tr>
              </tbody>
            </table>
          </div>
		    </div>
		    <div class="wrap text-center">
		    	<button type="button" class="btn btn-default creat-invoice-btn" data-toggle="modal" data-target="#invoice-dashboard-modal">Tạo đơn hàng</button>
		    </div>
		  </form>
		</div><!--/.new-order-form-->
	</div>
</div>

<!--add-transform-modal-->
{% include "_add-transform-modal.html" %}
<!--add-coupon-modal-->
{% include "_add-coupon-modal.html" %}
<!--invoice-dashboard-modal-->
{% include "_invoice-dashboard-modal.html" %}
<!--create-new-product-modal-->
{% include "_create-new-product-modal.html" %}
