<div class="box box-widget new-order-box">
	<div class="box-body">
    <!--invoice-product-table-->
    <div class="invoice-product-list row">
      {% include "_product-list.html" %}
    </div>
		<!--new-order-form-->
		<div class="new-order-form">
			<form role="form">
				<h4>Chọn sản phẩm</h4>
		    <!--order-product -->
		    <div class="wrap">
		    	<div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Chọn sản phẩm">
          </div>
          <div class="form-group">
            <textarea title="Ghi chú đơn hàng..." class="form-control" placeholder="Ghi chú đơn hàng..."></textarea>
          </div>
		    </div>
		    <h4>Thông tin người nhận hàng</h4>
		    <!--order-product -->
		    <div class="wrap">
		    	<div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Họ Tên...">
          </div>
          <div class="form-group">
            <input type="tel" class="form-control" id="" placeholder="Số điện thoại...">
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Chọn Tỉnh / Thành phố</option>
              <option>Hồ Chí Minh</option>
              <option>Hà Nội</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Chọn Quận / Huyện</option>
              <option>abc</option>
              <option>xyz</option>
            </select>
          </div>
          <div class="form-group">
            <select class="form-control">
              <option>Chọn Phường / Xã</option>
              <option>abc</option>
              <option>xyz</option>
            </select>
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Tên đường ...">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" id="" placeholder="Số nhà , ngõ , hẻm ...">
          </div>
		    </div>
		    <!--invoice-->
		    <div class="wrap">
		    	<div class="table-responsive invoice-price">
            <table class="table">
              <tbody>
                <tr>
                  <th>Tiền sản phẩm:</th>
                  <td>2.000.000<ins>đ</ins></td>
                </tr>
                <tr>
                  <th><a href="#" class="md-link" data-toggle="modal" data-target="#add-transform-modal">Thêm phí vận chuyển <i class="fa fa-pencil-square-o"></i></a></th>
                  <td>0<ins>đ</ins></td>
                </tr>
                <tr>
                  <th><a href="#" class="md-link" data-toggle="modal" data-target="#add-coupon-modal">Thêm khuyến mãi <i class="fa fa-pencil-square-o"></i></a></th>
                  <td>0<ins>đ</ins></td>
                </tr>
                <tr class="invoice-price-footer">
                  <th>Tổng tiền đơn hàng:</th>
                  <td>2.000.000<ins>đ</ins></td>
                </tr>
              </tbody>
            </table>
          </div>
		    </div>
		    <div class="wrap text-center">
		    	<button type="button" class="btn btn-default creat-invoice-btn" data-toggle="modal" data-target="#add-coupon-modal">Tạo đơn hàng</button>
		    </div>
		  </form>
		</div><!--/.new-order-form-->
	</div>
</div>

<!--add-transform-modal-->
{% include "_add-transform-modal.html" %}
<!--add-coupon-modal-->
{% include "_add-coupon-modal.html" %}