<section class="content-header" id="content-header">
        <div class="container">
            <div class="row">
                <h1 class="page-title">Cấu hình & quản lý tài khoản</h1>
                <ol class="breadcrumb">
                    <li>
                        <a class="{% if current_page == 'shop-info' %}active{% endif %}" href="7.1-shop-info.html">Thông tin chung & tài khoản</a>
                    </li>
                    <li>
                        <a href="8-shop-transform.html">Vận chuyển</a>
                    </li>
                    <li>
                        <a href="9.1-sales-chanel.html">Kênh bán hàng</a>
                    </li>
                    <li>
                        <a href="10.1-promotion-coupon.html">Khuyến mãi</a>
                    </li>
                    <li>
                        <a href="11-invisible-comment.html">Ẩn comments</a>
                    </li>
                    <li>
                        <a class="{% if current_page == 'auto-reply' %}active{% endif %}" href="12.1-auto-reply.html">Trả lời tự động</a>
                    </li>
                </ol>
            </div>
        </div>
    </section>
